<?php 
$wondertage_settings = array();
if (mysqli_query($wo['sqlConnect'], "DESCRIBE `wondertage_settings`" )) {
	$settings = $db->get('wondertage_settings');
	foreach ($settings as $key => $value) {
		$wondertage_settings[$value->name] = $value->value;
	}
}
?>

<div class="tag_welcome tag_stup_welcome">
	<div class="tag_wel_upper">
		<?php echo Wo_LoadPage('welcome/welcome-header-register');?>
		<div class="tag_stup_hdr">
			<div class="container">
				<div class="text-center">
					<p class="tag_wel_subtitle"><?php echo $wo['lang']['welcome_']?></p>
					<h2 class="tag_wel_title"><?php echo $wo['lang']['welcome_connect_text']?></h2>
					<?php if ($wo['config']['profile_privacy'] == 1) { ?>
						<div class="tag_pro_users">
							<?php echo Wo_LoadPage('welcome/welcome-users-profiles');?>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>
		<?php if (Wo_IsMobile() == false) { ?>
		<svg viewBox="0 0 909 721" version="1.1" class="tag_auth_effect"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-1744.000000, -1065.000000)" fill="currentColor"><path d="M1954.43919,1792.6682 C1992.31638,1797.09936 2029.78299,1794.70896 2067.01008,1789.73436 C2120.30732,1782.61259 2173.62738,1775.58582 2226.69271,1767.39996 C2260.60085,1762.17074 2294.7713,1756.87312 2327.56171,1748.10961 C2372.16427,1736.19945 2413.88127,1718.36841 2451.75847,1693.72343 C2486.62465,1671.0318 2516.57893,1644.33085 2541.29434,1613.05053 C2563.39792,1585.08407 2579.7228,1554.51441 2591.52734,1521.52015 C2605.34684,1482.89004 2611.12175,1443.30225 2609.82154,1402.9544 C2608.74943,1369.81193 2601.56786,1336.95448 2589.34512,1305.18772 C2567.23773,1247.74609 2531.29564,1197.68846 2481.13487,1156.39053 C2449.00978,1129.9556 2412.8852,1108.35086 2372.457,1092.43138 C2337.29048,1078.58306 2300.84656,1069.59534 2263.61946,1064.1875 C2233.99594,1059.88176 2203.84778,1060.52401 2173.81367,1062.68258 C2137.97042,1065.25919 2103.56046,1072.62418 2070.51913,1083.86549 C2018.80343,1101.46471 1973.74846,1128.28727 1935.14892,1163.71372 C1904.17957,1192.12861 1879.84053,1224.76184 1858.39846,1259.15081 C1848.63167,1274.82708 1842.33591,1292.27808 1834.48522,1308.93102 C1823.53608,1332.13949 1812.37023,1355.27576 1801.75184,1378.60964 C1791.84819,1400.35119 1782.14603,1422.18015 1773.07116,1444.21812 C1761.57836,1472.14277 1750.1578,1500.07883 1743.786,1529.592 C1737.76778,1557.47105 1736.1216,1585.54771 1740.3834,1613.74598 C1744.73265,1642.5447 1755.98213,1669.59528 1773.50077,1694.5861 C1800.94966,1733.75965 1839.22985,1761.07245 1886.84342,1778.21564 C1908.63146,1786.06327 1931.35474,1790.1676 1954.43919,1792.6682" transform="translate(2174.000000, 1428.000000) rotate(205.000000) translate(-2174.000000, -1428.000000) "></path></g></g></svg>
		<svg viewBox="0 0 426 474" version="1.1" class="tag_auth_effect_bottom"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-388.000000, -381.000000)" fill="currentColor"><path d="M860,593.437773 C859.701866,623.190759 854.01417,647.43429 843.154019,670.755769 C835.205601,687.828885 825.163406,703.502 813.182105,717.814975 C800.906695,732.472251 787.047984,745.753829 772.03906,757.76087 C750.242228,775.197984 727.029635,790.417393 702.212602,803.333163 C674.616456,817.697686 645.581032,827.632183 614.714333,831.474542 C603.380661,832.884952 591.76881,833.81003 580.214183,831.985022 C571.47474,830.604015 562.415871,830.578238 553.942993,828.315225 C541.615712,825.024967 529.36,821.000299 517.649374,815.967491 C494.095111,805.852786 474.801247,789.965248 459.436002,769.62324 C451.026851,758.495492 442.506364,747.287914 435.644682,735.212933 C428.529553,722.686405 423.21254,709.13569 417.381761,695.91096 C412.440889,684.713717 407.688794,673.427264 403.227584,662.033107 C396.705691,645.373491 389.465919,628.889411 384.444813,611.774218 C378.049538,589.980074 371.703899,567.946234 372.010694,544.854827 C372.304719,522.470146 376.864757,500.89125 388.307451,481.514782 C398.325615,464.551152 412.604948,451.530522 430.084638,441.755974 C449.393384,430.95415 470.307088,427.074211 491.846728,427 C507.582237,426.9463 523.319571,429.1654 538.780809,432.715123 C551.519781,435.636433 564.267893,438.812771 577.190075,440.53256 C590.795953,442.344157 604.488365,444.324704 618.346374,443.398399 C638.00253,442.087913 657.658722,440.712901 677.333257,439.734255 C694.619246,438.879821 711.773953,440.425228 728.87232,443.138286 C742.898737,445.361393 756.265003,449.652778 768.87532,455.81277 C792.583457,467.399208 813.71259,482.213376 828.977802,504.402122 C838.057174,517.59435 846.61669,530.937424 851.372704,546.292112 C853.692037,553.772837 855.695707,561.41044 857.015592,569.116017 C858.625367,578.496049 859.362587,588.020975 860,593.437773" transform="translate(616.000000, 630.000000) rotate(-78.000000) translate(-616.000000, -630.000000) "></path></g></g></svg>
		<?php } ?>
	</div>
	<div class="tag_wel_middle">
		<div class="container">
			<div class="tag_stup_login">
				<div class="wow_content tag_auth_box">
					<div class="valign tag_auth_animation d-none"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 367.805 367.805" xml:space="preserve"> <g> <path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902 S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z"/> <polygon style="fill:#fff;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801 256.001,103.968"/> </g></svg><?php echo $wo['lang']['welcome_back'] ?></div>
					<?php if ($wo['config']['facebookLogin'] != 0 || $wo['config']['googleLogin'] != 0 || $wo['config']['twitterLogin'] != 0 || $wo['config']['linkedinLogin'] != 0 || $wo['config']['VkontakteLogin'] != 0 || $wo['config']['instagramLogin'] != 0 || $wo['config']['qqLogin'] != 0 || $wo['config']['WeChatLogin'] != 0 || $wo['config']['DiscordLogin'] != 0 || $wo['config']['MailruLogin'] != 0) { ?>
					<div class="valign">
						<ul class="valign nav nav-tabs tag_stup_switch" role="tablist">
							<li role="presentation"><a href="#login_usrnm" class="active" aria-controls="login_usrnm" role="tab" data-toggle="tab"><?php echo $wo['lang']['username'] ?> <?php echo $wo['lang']['login'] ?></a></li>
							<li role="presentation"><a href="#login_socal" aria-controls="login_socal" role="tab" data-toggle="tab"><?php echo $wo['lang']['social_login'] ?></a></li>
						</ul>
					</div>
					<?php } ?>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="login_usrnm">
							<form id="login" method="post">
								<div class="errors"></div>
								<div class="valign tag_stup_login_cont">
									<label class="tag_field">
										<input name="username" type="text" autocomplete="off" placeholder=" " autofocus required>
										<span><?php echo $wo['lang']['username']?></span>
									</label>
									<label class="tag_field tag_wel_forgot">
										<input name="password" type="password" autocomplete="off" placeholder=" " required>
										<span><?php echo $wo['lang']['password']?></span>
										<a href="<?php echo Wo_SeoLink('index.php?link1=forgot-password');?>" title="<?php echo $wo['lang']['forget_password']?>" data-toggle="tooltip"><svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 0 24 24" width="22"><path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92c-.5.51-.86.97-1.04 1.69-.08.32-.13.68-.13 1.14h-2v-.5c0-.46.08-.9.22-1.31.2-.58.53-1.1.95-1.52l1.24-1.26c.46-.44.68-1.1.55-1.8-.13-.72-.69-1.33-1.39-1.53-1.11-.31-2.14.32-2.47 1.27-.12.37-.43.65-.82.65h-.3C8.4 9 8 8.44 8.16 7.88c.43-1.47 1.68-2.59 3.23-2.83 1.52-.24 2.97.55 3.87 1.8 1.18 1.63.83 3.38-.19 4.4z"/></svg></a>
									</label>
									<button type="submit" class="btn btn-main btn-mat disable_btn tag_wel_btn"><?php echo $wo['lang']['login']?></button>
								</div>
								<?php if ($wo['config']['remember_device'] == 1) { ?>
								<div class="round-check">
									<input type="checkbox" name="remember_device" id="remember_device" <?php echo ($wo['config']['remember_device'] == 1 ? 'checked' : ''); ?>>
									<label class="mt-2 mb-0" for="remember_device">
										<?php echo $wo['lang']['remember_device'] ?>
									</label>
									<div class="clear"></div>
								</div>
								<?php } ?>

								<?php if(!empty( $_GET['last_url'])){?>
									<div><input type="hidden" name="last_url" value="<?php echo urldecode(Wo_Secure($_GET['last_url']));?>"></div>
								<?php } ?>
							</form>
						</div>
						<?php if ($wo['config']['facebookLogin'] != 0 || $wo['config']['googleLogin'] != 0 || $wo['config']['twitterLogin'] != 0 || $wo['config']['linkedinLogin'] != 0 || $wo['config']['VkontakteLogin'] != 0 || $wo['config']['instagramLogin'] != 0 || $wo['config']['qqLogin'] != 0 || $wo['config']['WeChatLogin'] != 0 || $wo['config']['DiscordLogin'] != 0 || $wo['config']['MailruLogin'] != 0) { ?>
							<div role="tabpanel" class="tab-pane" id="login_socal">
								<div class="valign social_btns">
									<?php if($wo['config']['facebookLogin'] != 0): ?>
										<a href="<?php echo $wo['facebookLoginUrl']?>" class="btn fb"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"><path fill="#1877f2" d="M12 2C6.477 2 2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.879V14.89h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.989C18.343 21.129 22 16.99 22 12c0-5.523-4.477-10-10-10z"></path></svg> <?php echo $wo['lang']['facebook']?></a>
									<?php endif; ?>
									<?php if($wo['config']['twitterLogin'] != 0): ?>
										<a href="<?php echo $wo['twitterLoginUrl']?>" class="btn tw"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"><path fill="#1da1f2" d="M22.162 5.656a8.384 8.384 0 0 1-2.402.658A4.196 4.196 0 0 0 21.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 0 0-7.126 3.814 11.874 11.874 0 0 1-8.62-4.37 4.168 4.168 0 0 0-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 0 1-1.894-.523v.052a4.185 4.185 0 0 0 3.355 4.101 4.21 4.21 0 0 1-1.89.072A4.185 4.185 0 0 0 7.97 16.65a8.394 8.394 0 0 1-6.191 1.732 11.83 11.83 0 0 0 6.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.496 8.496 0 0 0 2.087-2.165z"></path></svg> <?php echo $wo['lang']['twitter']?></a>
									<?php endif; ?>
									<?php if($wo['config']['linkedinLogin'] != 0): ?>
										<a href="<?php echo $wo['linkedInLoginUrl']?>" class="btn li"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"><path fill="#0a66c2" d="M6.94 5a2 2 0 1 1-4-.002 2 2 0 0 1 4 .002zM7 8.48H3V21h4V8.48zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68z"></path></svg> <?php echo $wo['lang']['linkedin']?></a>
									<?php endif; ?>
									<?php if($wo['config']['VkontakteLogin'] != 0): ?>
										<a href="<?php echo $wo['VkontakteLoginUrl']?>" class="btn vk"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"><path fill="#2787F5" d="M15.07 2H8.93C3.33 2 2 3.33 2 8.93V15.07C2 20.67 3.33 22 8.93 22H15.07C20.67 22 22 20.67 22 15.07V8.93C22 3.33 20.67 2 15.07 2M18.15 16.27H16.69C16.14 16.27 15.97 15.82 15 14.83C14.12 14 13.74 13.88 13.53 13.88C13.24 13.88 13.15 13.96 13.15 14.38V15.69C13.15 16.04 13.04 16.26 12.11 16.26C10.57 16.26 8.86 15.32 7.66 13.59C5.85 11.05 5.36 9.13 5.36 8.75C5.36 8.54 5.43 8.34 5.85 8.34H7.32C7.69 8.34 7.83 8.5 7.97 8.9C8.69 11 9.89 12.8 10.38 12.8C10.57 12.8 10.65 12.71 10.65 12.25V10.1C10.6 9.12 10.07 9.03 10.07 8.68C10.07 8.5 10.21 8.34 10.44 8.34H12.73C13.04 8.34 13.15 8.5 13.15 8.88V11.77C13.15 12.08 13.28 12.19 13.38 12.19C13.56 12.19 13.72 12.08 14.05 11.74C15.1 10.57 15.85 8.76 15.85 8.76C15.95 8.55 16.11 8.35 16.5 8.35H17.93C18.37 8.35 18.47 8.58 18.37 8.89C18.19 9.74 16.41 12.25 16.43 12.25C16.27 12.5 16.21 12.61 16.43 12.9C16.58 13.11 17.09 13.55 17.43 13.94C18.05 14.65 18.53 15.24 18.66 15.65C18.77 16.06 18.57 16.27 18.15 16.27Z"></path></svg> VK</a>
									<?php endif; ?>
									<?php if($wo['config']['instagramLogin'] != 0): ?>
										<a href="<?php echo $wo['instagramLoginUrl']?>" class="btn in"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"><path fill="#d14668" d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25 1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"></path></svg> <?php echo $wo['lang']['instagram']?></a>
									<?php endif; ?>
									<?php if($wo['config']['googleLogin'] != 0): ?>
										<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
									<?php endif; ?>
									<?php if($wo['config']['qqLogin'] != 0): ?>
										<a href="<?php echo $wo['QQLoginUrl']?>" class="btn qq"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.802 98.803" fill="#2196f3"> <g> <g> <path d="M95.568,57.454c-1.74-4.367-3.976-8.49-6.733-12.316c-0.295-0.408-0.602-0.729-0.329-1.404 c1.326-3.281,0.896-6.463-0.798-9.515c-0.763-1.376-1.668-2.684-1.755-4.342c-0.127-2.393-0.734-4.692-1.356-6.994 c-2.17-8.031-6.494-14.449-13.937-18.479c-4.224-2.287-8.764-3.589-13.545-4.115C52.19-0.253,47.321-0.04,42.472,0.987 c-8.02,1.701-13.92,6.429-18.489,12.984c-3.001,4.308-5.137,8.993-5.776,14.3c-0.123,1.021,0.25,2.146-0.41,3.085 c-0.573,0.812-0.9,1.724-1.063,2.675c-0.245,1.425-0.573,2.778-1.304,4.073c-0.888,1.57-1.127,3.374-0.764,5.138 c0.157,0.758-0.005,1.153-0.531,1.548c-3.109,2.327-5.68,5.131-7.84,8.373c-3.077,4.616-4.894,9.619-5.189,15.16 c-0.119,2.225,0.15,4.398,0.933,6.505c0.379,1.02,0.88,1.498,2.084,1.148c1.013-0.293,1.878-0.748,2.645-1.423 c1.6-1.404,2.905-3.04,3.769-5.004c0.1-0.228,0.074-0.579,0.439-0.561c0.332,0.016,0.363,0.306,0.42,0.573 c0.518,2.398,1.633,4.556,2.829,6.659c1.276,2.247,3.105,4.056,5.017,5.75c0.667,0.592,1.614,0.868,1.987,1.871 c-1.38-0.002-2.656,0.194-3.863,0.609c-2.062,0.711-3.895,1.764-4.372,4.145c-0.456,2.275-0.613,4.522,1.467,6.206 c0.823,0.666,1.734,1.195,2.716,1.614c3.463,1.477,7.142,1.956,10.837,2.194c4.568,0.294,9.156,0.404,13.635-0.838 c2.596-0.722,4.999-1.891,7.251-3.366c0.213-0.14,0.354-0.46,0.658-0.372c1.79,0.518,3.677-0.02,5.49,0.687 c2.91,1.136,5.917,2.001,9.02,2.501c4.605,0.744,9.227,1.093,13.874,0.502c3.149-0.401,6.235-1.094,8.993-2.768 c3.546-2.153,3.654-5.891,0.326-8.31c-1.64-1.192-3.38-2.186-5.205-3.05c-0.472-0.223-0.991-0.376-1.364-0.893 c3.672-3.374,5.523-7.843,7.374-12.409c1.054,1.952,2.08,3.805,3.441,5.433c1.449,1.731,2.711,1.69,4.132-0.04 c0.566-0.69,0.981-1.451,1.239-2.315C98.51,67.896,97.619,62.604,95.568,57.454z M55.018,22.695 c-0.062-2.094,0.374-4.126,1.512-5.984c2.2-3.594,5.927-3.671,8.122-0.082c1.899,3.109,1.954,7.003,0.982,10.438 c-0.47,1.66-1.153,3.151-2.801,3.994c-2.239,1.145-4.307,0.692-5.812-1.331C55.482,27.662,54.927,25.299,55.018,22.695z M40.416,15.943c2.095-2.708,5.158-2.722,7.237-0.017c1.574,2.05,2.052,4.435,2.091,7.159c-0.076,2.407-0.588,4.892-2.398,6.899 c-2.086,2.315-4.877,2.194-6.817-0.231C37.729,26.254,37.674,19.486,40.416,15.943z M31.089,39.146 c3.005-2.065,6.387-3.264,9.902-4.027c7.729-1.682,15.478-1.892,23.2,0.086c3.134,0.803,6.169,1.89,8.897,3.668 c1.692,1.104,1.673,1.513-0.021,2.552c-1.81,1.109-3.694,2.027-6.063,2.02c0.854-0.947,1.935-1.479,2.597-2.923 c-11.517,7.921-22.792,8.559-34.122,0.353c0.501,0.808,1.002,1.614,1.618,2.606c-2.195-0.55-4.16-1.071-5.952-2.04 C29.729,40.672,29.748,40.068,31.089,39.146z M45.498,94.378c-1.388,1.356-3.231,1.805-4.997,2.193 c-6.68,1.475-13.408,1.794-20.09,0.042c-2.074-0.543-4.159-1.262-5.741-2.864c-1.172-1.185-1.151-2.205,0.02-3.421 c0.726-0.755,1.572-1.359,2.358-2.14c-0.603,0.107-1.211,0.196-1.808,0.337c-0.297,0.069-0.646,0.303-0.824-0.039 c-0.122-0.235-0.103-0.648,0.025-0.892c0.29-0.544,0.689-1.041,1.236-1.357c0.763-0.443,1.53-0.892,2.332-1.255 c1.908-0.865,3.584-0.936,5.472,0.514c3.637,2.791,7.861,4.532,12.245,5.885c3.109,0.96,6.28,1.586,9.487,2.072 c0.244,0.038,0.583-0.093,0.711,0.2C46.091,94.035,45.705,94.175,45.498,94.378z M81.455,84.153 c1.248,0.611,2.564,1.141,4.022,2.31c-1.181,0.092-2.198,0.127-3.067,0.681c-0.171,0.106-0.416,0.311-0.405,0.454 c0.028,0.373,0.373,0.263,0.621,0.262c1.151-0.001,2.304-0.059,3.452,0.001c2.125,0.109,3.197,1.731,2.403,3.692 c-1.039,2.568-3.396,3.5-5.763,4.248c-7.481,2.366-14.902,1.625-22.27-0.625c-0.812-0.249-1.776-0.215-2.169-1.324 c7.716-1.221,14.533-4.239,20.361-9.354C79.717,83.552,80.247,83.559,81.455,84.153z M84.223,68.128 c-0.26,4.43-1.97,8.329-4.652,11.788c-5.173,6.673-11.993,10.796-20.188,12.656c-3.104,0.706-6.256,0.349-9.376,0.045 c-4.791-0.465-9.515-1.327-13.972-3.219c-2.77-1.177-5.435-2.546-7.813-4.473c-4.629-3.753-8.246-8.165-9.446-14.146 c-1.086-5.412-0.645-10.715,1.674-15.791c0.164-0.358,0.373-0.696,0.543-1.052c0.414-0.856,0.823-1.223,1.793-0.484 c1.042,0.791,2.265,1.348,3.431,1.966c0.447,0.237,0.563,0.432,0.49,1.003c-0.504,4.039-0.938,8.08-0.483,12.171 c0.272,2.438,1.731,3.976,3.747,4.851c2.783,1.207,5.785,1.057,8.735,0.577c1.204-0.195,2.569-1.76,2.516-3.548l-0.192-8.102 l-0.069-1.684c3.209,0.899,6.507,1.185,9.782,1.263c7.792,0.186,15.094-1.702,22.083-5.021c2.072-0.983,4.073-2.088,5.977-3.359 c0.473-0.315,0.655-0.347,1.007,0.171C82.755,58.09,84.538,62.793,84.223,68.128z M36.888,64.798l-0.091-3.047 c0.059-0.565-0.266-1.596,0.643-1.748c1.124-0.188,2.169,0.613,2.277,1.747c0.269,2.827,0.451,5.684,0.349,8.552 c-0.049,1.381-0.726,2.211-2.281,2.291c-2.221,0.117-4.431,0.192-6.611-0.293c-3.059-0.683-4.14-2.181-4.231-5.647 c-0.087-3.265,0.691-6.405,1.279-9.576c0.094-0.508,0.288-0.49,0.706-0.312c1.94,0.832,3.841,1.771,5.895,2.308 c0.619,0.161,0.524,0.587,0.541,1.025c0.076,2.042,0.341,4.055,1.032,5.99c0.113,0.316,0.279,0.617,0.525,1.172L36.888,64.798z M87.863,41.959c-0.713,3.928-2.98,6.794-6.25,8.828c-6.996,4.354-14.417,7.735-22.591,9.235 c-4.74,0.869-9.478,0.834-14.262,0.222c-5.7-0.728-11.113-2.364-16.314-4.708c-4.34-1.956-8.464-4.3-11.461-8.165 c-2.191-2.824-2.488-5.776-0.475-8.403c0.613,3.759,2.714,6.468,5.648,8.647c-1.113-1.906-2.246-3.8-3.333-5.72 c-1.16-2.046-1.057-4.28-0.949-6.513c0.127-0.013,0.255-0.054,0.276-0.023c3.985,5.908,9.673,9.502,16.248,11.818 c8.313,2.933,16.929,3.846,25.633,2.862c8.854-1,16.799-4.403,23.481-10.46c0.426-0.385,0.882-0.734,1.218-1.014 c-1.527,6.333-6.051,10.371-11.515,13.634c7.514-2.716,11.403-8.663,14.022-15.749C88.027,37.638,88.234,39.91,87.863,41.959z"/> <path d="M57.824,24.385c0.522,0.103,0.59-0.406,0.691-0.783c0.194-0.719,0.302-1.658,1.196-1.672 c0.82-0.011,0.854,0.921,0.957,1.529c0.082,0.484,0.37,0.993,0.901,0.919c0.674-0.094,0.597-3.508-1.134-4.097 c-1.595-0.601-3.162,0.939-3.122,3.106C57.321,23.776,57.325,24.288,57.824,24.385z"/> <path d="M46.776,26.242c0.833,0.062,1.306-0.495,1.617-1.142c0.776-1.614,0.754-3.243-0.183-4.788 c-0.681-1.121-1.811-1.173-2.591-0.158c-0.619,0.805-0.779,1.753-0.757,2.742c0.015,0.705,0.073,1.401,0.379,2.056 C45.552,25.621,45.975,26.179,46.776,26.242z"/> </g> </g></svg> QQ</a>
									<?php endif; ?>
									<?php if($wo['config']['WeChatLogin'] != 0): ?>
										<a href="<?php echo $wo['WeChatLoginUrl']?>" class="btn we"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#03ce65" d="M9.5,4C5.36,4 2,6.69 2,10C2,11.89 3.08,13.56 4.78,14.66L4,17L6.5,15.5C7.39,15.81 8.37,16 9.41,16C9.15,15.37 9,14.7 9,14C9,10.69 12.13,8 16,8C16.19,8 16.38,8 16.56,8.03C15.54,5.69 12.78,4 9.5,4M6.5,6.5A1,1 0 0,1 7.5,7.5A1,1 0 0,1 6.5,8.5A1,1 0 0,1 5.5,7.5A1,1 0 0,1 6.5,6.5M11.5,6.5A1,1 0 0,1 12.5,7.5A1,1 0 0,1 11.5,8.5A1,1 0 0,1 10.5,7.5A1,1 0 0,1 11.5,6.5M16,9C12.69,9 10,11.24 10,14C10,16.76 12.69,19 16,19C16.67,19 17.31,18.92 17.91,18.75L20,20L19.38,18.13C20.95,17.22 22,15.71 22,14C22,11.24 19.31,9 16,9M14,11.5A1,1 0 0,1 15,12.5A1,1 0 0,1 14,13.5A1,1 0 0,1 13,12.5A1,1 0 0,1 14,11.5M18,11.5A1,1 0 0,1 19,12.5A1,1 0 0,1 18,13.5A1,1 0 0,1 17,12.5A1,1 0 0,1 18,11.5Z"></path></svg> WeChat</a>
									<?php endif; ?>
									<?php if($wo['config']['DiscordLogin'] != 0): ?>
										<a href="<?php echo $wo['DiscordLoginUrl']?>" class="btn dis"><svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#6e85d2"><g><path d="m484.629 225.058c-20.379-70.018-43.361-106.196-43.732-106.845-1.31-1.599-33.786-40.463-112.059-69.209l-10.343 28.16c37.237 13.676 63.655 30.36 78.184 41.14-43.376-12.953-94.977-20.886-140.679-20.886s-97.303 7.933-140.679 20.886c14.528-10.779 40.946-27.464 78.183-41.14l-10.343-28.16c-78.271 28.746-110.747 67.61-112.057 69.209-.371.649-23.354 36.827-43.732 106.845-19.64 67.476-27.101 162.665-27.372 166.482 1.75 2.736 42 71.456 151.693 71.456l27.804-40.262c-31.15-8.271-60.853-21.609-88.043-39.708l16.623-24.973c43.865 29.197 95.016 44.631 147.923 44.631s104.058-15.434 147.923-44.631l16.623 24.973c-27.189 18.099-56.893 31.437-88.043 39.708l27.804 40.262c109.693 0 149.943-68.72 151.693-71.456-.271-3.817-7.732-99.006-27.371-166.482zm-297.987 78.482h-30v-50h30zm168.716 0h-30v-50h30z"/></g></svg> Discord</a>
									<?php endif; ?>
									<?php if($wo['config']['MailruLogin'] != 0): ?>
										<a href="<?php echo $wo['MailruLoginUrl']?>" class="btn mail"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#005ff9" d="M12,15C12.81,15 13.5,14.7 14.11,14.11C14.7,13.5 15,12.81 15,12C15,11.19 14.7,10.5 14.11,9.89C13.5,9.3 12.81,9 12,9C11.19,9 10.5,9.3 9.89,9.89C9.3,10.5 9,11.19 9,12C9,12.81 9.3,13.5 9.89,14.11C10.5,14.7 11.19,15 12,15M12,2C14.75,2 17.1,3 19.05,4.95C21,6.9 22,9.25 22,12V13.45C22,14.45 21.65,15.3 21,16C20.3,16.67 19.5,17 18.5,17C17.3,17 16.31,16.5 15.56,15.5C14.56,16.5 13.38,17 12,17C10.63,17 9.45,16.5 8.46,15.54C7.5,14.55 7,13.38 7,12C7,10.63 7.5,9.45 8.46,8.46C9.45,7.5 10.63,7 12,7C13.38,7 14.55,7.5 15.54,8.46C16.5,9.45 17,10.63 17,12V13.45C17,13.86 17.16,14.22 17.46,14.53C17.76,14.84 18.11,15 18.5,15C18.92,15 19.27,14.84 19.57,14.53C19.87,14.22 20,13.86 20,13.45V12C20,9.81 19.23,7.93 17.65,6.35C16.07,4.77 14.19,4 12,4C9.81,4 7.93,4.77 6.35,6.35C4.77,7.93 4,9.81 4,12C4,14.19 4.77,16.07 6.35,17.65C7.93,19.23 9.81,20 12,20H17V22H12C9.25,22 6.9,21 4.95,19.05C3,17.1 2,14.75 2,12C2,9.25 3,6.9 4.95,4.95C6.9,3 9.25,2 12,2Z"></path></svg> Mail</a>
									<?php endif; ?>
								</div>
							</div>
						<?php } ?>
					</div>
				</div>
			</div>
			<div class="tag_stup_feats">
				<div class="row">
					<div class="col-md-6">
						<div class="tag_boost_help">
							<ul>
								<li><b><?php echo $wo['lang']['welcome_share']?></b><p><?php echo $wo['lang']['welcome_share_text']?></p></li>
								<li><b><?php echo $wo['lang']['welcome_discover']?></b><p><?php echo $wo['lang']['welcome_discover_text']?></p></li>
								<li><b>100% <?php echo $wo['lang']['privacy']?></b><p><?php echo $wo['lang']['welcome_privacy_text']?></p></li>
								<li class="mb-0"><b><?php echo $wo['lang']['more']?> <?php echo $wo['lang']['security']?></b><p><?php echo $wo['lang']['welcome_security_text']?>.</p></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<?php if (Wo_IsMobile() == false) { ?>
						<div class="valign tag_feats_cloud">
							<div class="mt-0 rounded-circle" style="width: 40px; height: 40px;">
								<svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#7FE0EB"/><g fill="#008a9a"><circle cx="16" cy="9.667" r="1.667"/><circle cx="20.667" cy="19" r="1.667"/><circle cx="11.333" cy="19" r="1.667"/><path d="m18.833 14.667h-5.667c-.276 0-.5-.224-.5-.5v-.333c0-1.011.822-1.833 1.833-1.833h3c1.011 0 1.833.822 1.833 1.833v.333c.001.276-.223.5-.499.5z"/><path d="m23.5 24h-5.667c-.276 0-.5-.224-.5-.5v-.333c0-1.011.822-1.833 1.833-1.833h3c1.011 0 1.833.822 1.833 1.833v.333c.001.276-.223.5-.499.5z"/><path d="m14.167 24h-5.667c-.276 0-.5-.224-.5-.5v-.333c0-1.011.822-1.833 1.833-1.833h3c1.011 0 1.833.822 1.833 1.833v.333c.001.276-.223.5-.499.5z"/></g><path d="m9.833 16.508c-.276 0-.5-.224-.5-.5 0-2.584 1.515-4.958 3.858-6.048.251-.116.548-.008.664.243.116.25.008.548-.243.664-1.993.927-3.28 2.945-3.28 5.141.001.276-.223.5-.499.5z" fill="#008a9a"/><path d="m22.167 16.508c-.276 0-.5-.224-.5-.5 0-2.197-1.287-4.215-3.28-5.141-.25-.117-.359-.414-.243-.664.117-.25.413-.359.664-.243 2.344 1.09 3.858 3.464 3.858 6.048.001.276-.223.5-.499.5z" fill="#008a9a"/><path d="m16 22.675c-.236 0-.468-.012-.697-.036-.274-.029-.474-.275-.445-.549s.271-.47.549-.445c.401.042.822.04 1.225-.004.272-.031.521.168.552.442.03.275-.168.521-.442.552-.244.026-.491.04-.742.04z" fill="#008a9a"/></svg>
							</div>
							<div class="mt-0 rounded-circle" style="width: 90px; height: 90px;">
								<svg height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m416 512h-320c-53.023438 0-96-42.976562-96-96v-320c0-53.023438 42.976562-96 96-96h320c53.023438 0 96 42.976562 96 96v320c0 53.023438-42.976562 96-96 96zm0 0" fill="#6CE5B1"/><path d="m206.527344 250.878906c-3.710938 0-7.3125-1.933594-9.28125-5.390625-2.910156-5.121093-1.117188-11.632812 3.984375-14.542969l98.976562-56.433593c5.105469-2.945313 11.632813-1.136719 14.5625 3.984375 2.910157 5.121094 1.117188 11.632812-3.984375 14.542968l-98.976562 56.433594c-1.679688.960938-3.488282 1.40625-5.28125 1.40625zm0 0" fill="#33986c"/><path d="m305.472656 338.878906c-1.792968 0-3.601562-.445312-5.265625-1.40625l-98.976562-56.433594c-5.117188-2.910156-6.910157-9.4375-3.984375-14.542968 2.914062-5.121094 9.425781-6.929688 14.5625-3.984375l98.976562 56.433593c5.117188 2.910157 6.910156 9.4375 3.984375 14.542969-1.984375 3.457031-5.585937 5.390625-9.296875 5.390625zm0 0" fill="#33986c"/><g fill="#33986c"><path d="m373.34375 341.328125c0 23.566406-19.105469 42.671875-42.671875 42.671875s-42.671875-19.105469-42.671875-42.671875 19.105469-42.671875 42.671875-42.671875 42.671875 19.105469 42.671875 42.671875zm0 0"/><path d="m373.34375 170.671875c0 23.566406-19.105469 42.671875-42.671875 42.671875s-42.671875-19.105469-42.671875-42.671875 19.105469-42.671875 42.671875-42.671875 42.671875 19.105469 42.671875 42.671875zm0 0"/><path d="m224 256c0 23.566406-19.105469 42.671875-42.671875 42.671875s-42.671875-19.105469-42.671875-42.671875 19.105469-42.671875 42.671875-42.671875 42.671875 19.105469 42.671875 42.671875zm0 0"/></g></svg>
							</div>
							<div class="mt-0 rounded-circle" style="width: 60px; height: 60px;">
								<svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#EBB9D2"/><path d="m19.667 15.333c-2.389 0-4.334 1.944-4.334 4.333s1.944 4.334 4.334 4.334 4.333-1.944 4.333-4.333-1.944-4.334-4.333-4.334zm2.168 3.273-2.333 2.667c-.121.139-.295.221-.48.227-.007 0-.015 0-.022 0-.176 0-.346-.07-.471-.195l-1.333-1.333c-.26-.26-.26-.682 0-.943s.682-.26.943 0l.829.829 1.864-2.131c.243-.276.664-.305.941-.063.277.244.305.664.062.942z" fill="#d55b98"/><path d="m19.12 10.02-5.334-2c-.08-.027-.16-.027-.24 0l-5.334 2c-.126.047-.212.173-.212.313v4.287c0 6.08 5.54 7.36 5.594 7.373.026.007.046.007.073.007s.047 0 .073-.007c.013 0 .273-.06.673-.213-.266-.653-.413-1.367-.413-2.113 0-3.013 2.36-5.487 5.334-5.66v-3.673c-.001-.141-.087-.267-.214-.314z" fill="#d55b98"/></svg>
							</div>
							<span class="fbreak"></span>
							<div class="rounded-circle" style="width: 80px; height: 80px;">
								<svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#E96B6A"/><path d="m10 15.5c-.171 0-.341-.065-.471-.195-.26-.26-.26-.682 0-.943l4.604-4.604c.26-.26.682-.26.943 0 .26.26.26.682 0 .943l-4.604 4.604c-.131.13-.301.195-.472.195z" fill="#890100"/><path d="m15.5 12.167c-.13 0-.258-.051-.354-.146l-2.333-2.333c-.143-.143-.186-.358-.108-.545.077-.187.26-.309.462-.309h2.333c.276 0 .5.224.5.5v2.333c0 .202-.122.384-.309.462-.061.025-.127.038-.191.038z" fill="#890100"/><g fill="#890100"><path d="m12.667 18.333v3.833h-4v-3.833c0-.46.373-.833.833-.833h2.333c.46 0 .834.373.834.833z"/><path d="m18 15.667v6.5h-4v-6.5c0-.46.373-.833.833-.833h2.333c.461-.001.834.373.834.833z"/><path d="m23.333 13v9.167h-4v-9.167c0-.46.373-.833.833-.833h2.334c.46 0 .833.373.833.833z"/></g><path d="m23.5 24.167h-15c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h15c.276 0 .5.224.5.5s-.224.5-.5.5z" fill="#890100"/></svg>
							</div>
							<div class="rounded-circle" style="width: 30px; height: 30px;">
								<svg xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 0 32 32" width="512"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#FFD387"/><path d="m16 8c-4.413 0-8 3.587-8 8s3.587 8 8 8 8-3.587 8-8-3.587-8-8-8zm-4.667 6c0-.733.6-1.333 1.333-1.333.734 0 1.334.6 1.334 1.333s-.6 1.333-1.333 1.333c-.734 0-1.334-.6-1.334-1.333zm8.472 5.948c-1.016 1.016-2.368 1.576-3.805 1.576s-2.788-.56-3.805-1.576c-.26-.26-.26-.683 0-.943s.682-.26.943 0c.764.765 1.781 1.185 2.862 1.185s2.098-.421 2.862-1.186c.26-.26.682-.26.943 0 .26.261.26.683 0 .944zm-.472-4.615c-.733 0-1.333-.6-1.333-1.333s.6-1.333 1.333-1.333 1.333.6 1.333 1.333c.001.733-.599 1.333-1.333 1.333z" fill="#a66900"/></svg>
							</div>
							<div class="rounded-circle" style="width: 100px; height: 100px;">
								<svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#98A2DF"/><path d="m16 16.167c-.066 0-.132-.013-.194-.039l-7.5-3.167c-.186-.079-.306-.26-.306-.461s.12-.382.306-.461l7.5-3.167c.124-.053.264-.053.389 0l7.5 3.167c.185.078.305.26.305.461s-.12.382-.306.461l-7.5 3.167c-.062.026-.128.039-.194.039z" fill="#2e3d9a"/><path d="m23.694 17.373-.781-.33-6.33 2.672c-.184.078-.381.118-.583.118s-.399-.04-.585-.119l-6.328-2.672-.782.33c-.185.079-.305.26-.305.461s.12.382.306.461l7.5 3.167c.062.026.128.039.194.039s.132-.013.194-.039l7.5-3.167c.186-.078.306-.26.306-.461s-.12-.382-.306-.46z" fill="#2e3d9a"/><g fill="#2e3d9a"><path d="m23.694 14.706-.781-.33-6.33 2.672c-.184.078-.381.118-.583.118s-.399-.04-.585-.119l-6.328-2.672-.782.33c-.185.079-.305.261-.305.462s.12.382.306.461l7.5 3.167c.062.026.128.039.194.039s.132-.013.194-.039l7.5-3.167c.186-.079.306-.261.306-.461s-.12-.383-.306-.461z"/><path d="m23.694 20.039-.781-.33-6.33 2.672c-.184.079-.381.119-.583.119s-.399-.04-.585-.119l-6.328-2.672-.782.33c-.185.078-.305.26-.305.461s.12.382.306.461l7.5 3.167c.062.026.128.039.194.039s.132-.013.194-.039l7.5-3.167c.186-.079.306-.26.306-.461s-.12-.383-.306-.461z"/></g></svg>
							</div>
							<div class="rounded-circle" style="width: 50px; height: 50px;">
								<svg height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m416 512h-320c-53.023438 0-96-42.976562-96-96v-320c0-53.023438 42.976562-96 96-96h320c53.023438 0 96 42.976562 96 96v320c0 53.023438-42.976562 96-96 96zm0 0" fill="#6CE5B1"/><path d="m206.527344 250.878906c-3.710938 0-7.3125-1.933594-9.28125-5.390625-2.910156-5.121093-1.117188-11.632812 3.984375-14.542969l98.976562-56.433593c5.105469-2.945313 11.632813-1.136719 14.5625 3.984375 2.910157 5.121094 1.117188 11.632812-3.984375 14.542968l-98.976562 56.433594c-1.679688.960938-3.488282 1.40625-5.28125 1.40625zm0 0" fill="#33986c"/><path d="m305.472656 338.878906c-1.792968 0-3.601562-.445312-5.265625-1.40625l-98.976562-56.433594c-5.117188-2.910156-6.910157-9.4375-3.984375-14.542968 2.914062-5.121094 9.425781-6.929688 14.5625-3.984375l98.976562 56.433593c5.117188 2.910157 6.910156 9.4375 3.984375 14.542969-1.984375 3.457031-5.585937 5.390625-9.296875 5.390625zm0 0" fill="#33986c"/><g fill="#33986c"><path d="m373.34375 341.328125c0 23.566406-19.105469 42.671875-42.671875 42.671875s-42.671875-19.105469-42.671875-42.671875 19.105469-42.671875 42.671875-42.671875 42.671875 19.105469 42.671875 42.671875zm0 0"/><path d="m373.34375 170.671875c0 23.566406-19.105469 42.671875-42.671875 42.671875s-42.671875-19.105469-42.671875-42.671875 19.105469-42.671875 42.671875-42.671875 42.671875 19.105469 42.671875 42.671875zm0 0"/><path d="m224 256c0 23.566406-19.105469 42.671875-42.671875 42.671875s-42.671875-19.105469-42.671875-42.671875 19.105469-42.671875 42.671875-42.671875 42.671875 19.105469 42.671875 42.671875zm0 0"/></g></svg>
							</div>
							<span class="fbreak"></span>
							<div class="mb-0 rounded-circle" style="width: 40px; height: 40px;">
								<svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#EBB9D2"/><path d="m19.667 15.333c-2.389 0-4.334 1.944-4.334 4.333s1.944 4.334 4.334 4.334 4.333-1.944 4.333-4.333-1.944-4.334-4.333-4.334zm2.168 3.273-2.333 2.667c-.121.139-.295.221-.48.227-.007 0-.015 0-.022 0-.176 0-.346-.07-.471-.195l-1.333-1.333c-.26-.26-.26-.682 0-.943s.682-.26.943 0l.829.829 1.864-2.131c.243-.276.664-.305.941-.063.277.244.305.664.062.942z" fill="#d55b98"/><path d="m19.12 10.02-5.334-2c-.08-.027-.16-.027-.24 0l-5.334 2c-.126.047-.212.173-.212.313v4.287c0 6.08 5.54 7.36 5.594 7.373.026.007.046.007.073.007s.047 0 .073-.007c.013 0 .273-.06.673-.213-.266-.653-.413-1.367-.413-2.113 0-3.013 2.36-5.487 5.334-5.66v-3.673c-.001-.141-.087-.267-.214-.314z" fill="#d55b98"/></svg>
							</div>
							<div class="mb-0 rounded-circle" style="width: 100px; height: 100px;">
								<svg height="512" viewBox="0 0 32 32" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#7FE0EB"/><g fill="#008a9a"><circle cx="16" cy="9.667" r="1.667"/><circle cx="20.667" cy="19" r="1.667"/><circle cx="11.333" cy="19" r="1.667"/><path d="m18.833 14.667h-5.667c-.276 0-.5-.224-.5-.5v-.333c0-1.011.822-1.833 1.833-1.833h3c1.011 0 1.833.822 1.833 1.833v.333c.001.276-.223.5-.499.5z"/><path d="m23.5 24h-5.667c-.276 0-.5-.224-.5-.5v-.333c0-1.011.822-1.833 1.833-1.833h3c1.011 0 1.833.822 1.833 1.833v.333c.001.276-.223.5-.499.5z"/><path d="m14.167 24h-5.667c-.276 0-.5-.224-.5-.5v-.333c0-1.011.822-1.833 1.833-1.833h3c1.011 0 1.833.822 1.833 1.833v.333c.001.276-.223.5-.499.5z"/></g><path d="m9.833 16.508c-.276 0-.5-.224-.5-.5 0-2.584 1.515-4.958 3.858-6.048.251-.116.548-.008.664.243.116.25.008.548-.243.664-1.993.927-3.28 2.945-3.28 5.141.001.276-.223.5-.499.5z" fill="#008a9a"/><path d="m22.167 16.508c-.276 0-.5-.224-.5-.5 0-2.197-1.287-4.215-3.28-5.141-.25-.117-.359-.414-.243-.664.117-.25.413-.359.664-.243 2.344 1.09 3.858 3.464 3.858 6.048.001.276-.223.5-.499.5z" fill="#008a9a"/><path d="m16 22.675c-.236 0-.468-.012-.697-.036-.274-.029-.474-.275-.445-.549s.271-.47.549-.445c.401.042.822.04 1.225-.004.272-.031.521.168.552.442.03.275-.168.521-.442.552-.244.026-.491.04-.742.04z" fill="#008a9a"/></svg>
							</div>
							<div class="mb-0 rounded-circle" style="width: 70px; height: 70px;">
								<svg xmlns="http://www.w3.org/2000/svg" height="512" viewBox="0 0 32 32" width="512"><path d="m26 32h-20c-3.314 0-6-2.686-6-6v-20c0-3.314 2.686-6 6-6h20c3.314 0 6 2.686 6 6v20c0 3.314-2.686 6-6 6z" fill="#FFD387"/><path d="m16 8c-4.413 0-8 3.587-8 8s3.587 8 8 8 8-3.587 8-8-3.587-8-8-8zm-4.667 6c0-.733.6-1.333 1.333-1.333.734 0 1.334.6 1.334 1.333s-.6 1.333-1.333 1.333c-.734 0-1.334-.6-1.334-1.333zm8.472 5.948c-1.016 1.016-2.368 1.576-3.805 1.576s-2.788-.56-3.805-1.576c-.26-.26-.26-.683 0-.943s.682-.26.943 0c.764.765 1.781 1.185 2.862 1.185s2.098-.421 2.862-1.186c.26-.26.682-.26.943 0 .26.261.26.683 0 .944zm-.472-4.615c-.733 0-1.333-.6-1.333-1.333s.6-1.333 1.333-1.333 1.333.6 1.333 1.333c.001.733-.599 1.333-1.333 1.333z" fill="#a66900"/></svg>
							</div>
						</div>
						<?php } ?>
					</div>
				</div>
			</div>
		</div>
		<?php if (!empty($wondertage_settings) && $wondertage_settings['tag_trend'] == 1) { ?>
			<div class="tag_stup_trend_widget">
				<p><?php echo $wo['lang']['trending']?></p>
				<h2><?php echo $wo['lang']['see_trending_people']?></h2>
				<div class="valign tag_stup_trend_prnt"><?php 
					$hashtags = Wa_GetTrendingHashs('popular');
					if (count($hashtags) > 0) {
						foreach ($hashtags as $wo['hashtag']) { 
					?><div class="tag_stup_trend">#<?php echo $wo['hashtag']['tag'];?></div><?php } } ?></div>
				<div class="tag_stup_trend_effect_circle"></div>
				<div class="tag_stup_trend_effect" aria-hidden="true">
				<svg viewBox="0 0 1920 450" fill="none"><g opacity="1" fill="#4d8b1f" stroke="none"><circle cx="1544" cy="287" r="2"></circle><circle cx="1544" cy="303" r="2"></circle><circle cx="1544" cy="319" r="2"></circle><circle cx="1544" cy="335" r="2"></circle><circle cx="1544" cy="351" r="2"></circle><circle cx="1544" cy="367" r="2"></circle><circle cx="1544" cy="383" r="2"></circle><circle cx="1544" cy="399" r="2"></circle><circle cx="1544" cy="415" r="2"></circle><circle cx="1544" cy="431" r="2"></circle><circle cx="1560" cy="287" r="2"></circle><circle cx="1560" cy="303" r="2"></circle><circle cx="1560" cy="319" r="2"></circle><circle cx="1560" cy="335" r="2"></circle><circle cx="1560" cy="351" r="2"></circle><circle cx="1560" cy="367" r="2"></circle><circle cx="1560" cy="383" r="2"></circle><circle cx="1560" cy="399" r="2"></circle><circle cx="1560" cy="415" r="2"></circle><circle cx="1560" cy="431" r="2"></circle><circle cx="1576" cy="287" r="2"></circle><circle cx="1576" cy="303" r="2"></circle><circle cx="1576" cy="319" r="2"></circle><circle cx="1576" cy="335" r="2"></circle><circle cx="1576" cy="351" r="2"></circle><circle cx="1576" cy="367" r="2"></circle><circle cx="1576" cy="383" r="2"></circle><circle cx="1576" cy="399" r="2"></circle><circle cx="1576" cy="415" r="2"></circle><circle cx="1576" cy="431" r="2"></circle><circle cx="1592" cy="287" r="2"></circle><circle cx="1592" cy="303" r="2"></circle><circle cx="1592" cy="319" r="2"></circle><circle cx="1592" cy="335" r="2"></circle><circle cx="1592" cy="351" r="2"></circle><circle cx="1592" cy="367" r="2"></circle><circle cx="1592" cy="383" r="2"></circle><circle cx="1592" cy="399" r="2"></circle><circle cx="1592" cy="415" r="2"></circle><circle cx="1592" cy="431" r="2"></circle><circle cx="1608" cy="287" r="2"></circle><circle cx="1624" cy="287" r="2"></circle><circle cx="1640" cy="287" r="2"></circle><circle cx="1656" cy="287" r="2"></circle><circle cx="1672" cy="287" r="2"></circle><circle cx="1688" cy="287" r="2"></circle><circle cx="1608" cy="303" r="2"></circle><circle cx="1624" cy="303" r="2"></circle><circle cx="1640" cy="303" r="2"></circle><circle cx="1656" cy="303" r="2"></circle><circle cx="1672" cy="303" r="2"></circle><circle cx="1688" cy="303" r="2"></circle><circle cx="1608" cy="319" r="2"></circle><circle cx="1624" cy="319" r="2"></circle><circle cx="1640" cy="319" r="2"></circle><circle cx="1656" cy="319" r="2"></circle><circle cx="1672" cy="319" r="2"></circle><circle cx="1688" cy="319" r="2"></circle><circle cx="1608" cy="335" r="2"></circle><circle cx="1624" cy="335" r="2"></circle><circle cx="1640" cy="335" r="2"></circle><circle cx="1656" cy="335" r="2"></circle><circle cx="1672" cy="335" r="2"></circle><circle cx="1688" cy="335" r="2"></circle><circle cx="1608" cy="351" r="2"></circle><circle cx="1608" cy="367" r="2"></circle><circle cx="1608" cy="383" r="2"></circle><circle cx="1608" cy="399" r="2"></circle><circle cx="1608" cy="415" r="2"></circle><circle cx="1608" cy="431" r="2"></circle><circle cx="1624" cy="351" r="2"></circle><circle cx="1624" cy="367" r="2"></circle><circle cx="1624" cy="383" r="2"></circle><circle cx="1624" cy="399" r="2"></circle><circle cx="1624" cy="415" r="2"></circle><circle cx="1624" cy="431" r="2"></circle><circle cx="1640" cy="351" r="2"></circle><circle cx="1656" cy="351" r="2"></circle><circle cx="1672" cy="351" r="2"></circle><circle cx="1688" cy="351" r="2"></circle><circle cx="1640" cy="367" r="2"></circle><circle cx="1656" cy="367" r="2"></circle><circle cx="1672" cy="367" r="2"></circle><circle cx="1688" cy="367" r="2"></circle><circle cx="1640" cy="383" r="2"></circle><circle cx="1640" cy="399" r="2"></circle><circle cx="1640" cy="415" r="2"></circle><circle cx="1640" cy="431" r="2"></circle><circle cx="1656" cy="383" r="2"></circle><circle cx="1672" cy="383" r="2"></circle><circle cx="1688" cy="383" r="2"></circle><circle cx="1656" cy="399" r="2"></circle><circle cx="1656" cy="415" r="2"></circle><circle cx="1656" cy="431" r="2"></circle><circle cx="1672" cy="399" r="2"></circle><circle cx="1672" cy="415" r="2"></circle><circle cx="1672" cy="431" r="2"></circle><circle cx="1688" cy="399" r="2"></circle><circle cx="1688" cy="415" r="2"></circle><circle cx="1688" cy="431" r="2"></circle></g><g stroke="#4d8b1f" stroke-width="2"><rect x="1568" y="83" width="244" height="244"></rect><rect x="124" y="-135" width="244" height="244"></rect></g></svg>
				</div>
			</div>
		<?php } ?>
		<?php if ($wo['config']['blogs'] == 1 || $wo['config']['forum'] == 1 && $wo['config']['forum_visibility'] == 0 || $wo['config']['events'] == 1 && $wo['config']['events_visibility'] == 0 || $wo['config']['classified'] == 1 && $wo['config']['product_visibility'] == 0) { ?>
			<div class="container">
				<div class="text-center wow_content tag_stup_explore_prnt">
					<div class="tag_stup_explore_circle-1"></div>
					<div class="tag_stup_explore_circle-2"></div>
					<h2><?php echo $wo['lang']['welcome_discover'];?> <?php echo $wo['config']['siteName'];?></h2>
					<div class="valign tag_stup_explore">
						<a href="<?php echo Wo_SeoLink('index.php?link1=search?query=');?>">
							<div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.25C6.61522 2.25 2.25 6.61522 2.25 12C2.25 17.3848 6.61522 21.75 12 21.75C17.3848 21.75 21.75 17.3848 21.75 12C21.75 6.61522 17.3848 2.25 12 2.25ZM9.49404 11.5179C9.67955 10.9613 9.77232 10.6831 9.9304 10.452C10.0704 10.2473 10.2473 10.0704 10.452 9.9304C10.6831 9.77232 10.9613 9.67955 11.5179 9.49404L14.4821 8.50596L14.4821 8.50596C14.9707 8.34311 15.2149 8.26169 15.3774 8.31962C15.5187 8.37003 15.63 8.48127 15.6804 8.62263C15.7383 8.78507 15.6569 9.02935 15.494 9.51789L14.506 12.4821C14.3204 13.0387 14.2277 13.3169 14.0696 13.548C13.9296 13.7527 13.7527 13.9296 13.548 14.0696C13.3169 14.2277 13.0387 14.3204 12.4821 14.506L9.51789 15.494C9.02935 15.6569 8.78507 15.7383 8.62263 15.6804C8.48127 15.63 8.37003 15.5187 8.31962 15.3774C8.26169 15.2149 8.34311 14.9707 8.50596 14.4821L8.50596 14.4821L9.49404 11.5179Z" fill="currentColor"></path></svg><svg width="48" height="48" viewBox="0 0 48 48" class="squircle" xmlns="http://www.w3.org/2000/svg"><path d="M48 24C48 40 40 48 24 48C8 48 -1.15147e-06 40 -6.90884e-07 24C-2.30295e-07 8 8 0 24 0C40 0 48 8 48 24Z" fill="url(#paint_explore)"/><defs><radialGradient id="paint_explore" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(24) rotate(90) scale(48)"><stop stop-color="#FFCE47"/><stop offset="1" stop-color="#E0A500"/></radialGradient></defs></svg></div> <?php echo $wo['lang']['explore'];?>
						</a>
						<?php  if ($wo['config']['blogs'] == 1) { ?>
							<a href="<?php echo Wo_SeoLink('index.php?link1=blogs');?>">
								<div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.62356 2.35132C2.85479 2.21713 3.13998 2.21617 3.3721 2.34882L6.5 4.13619L9.6279 2.34882C9.85847 2.21706 10.1415 2.21706 10.3721 2.34882L13.5 4.13619L16.6279 2.34882C16.86 2.21617 17.1452 2.21713 17.3764 2.35132C17.6077 2.48551 17.75 2.73265 17.75 3V11.25H21C21.4142 11.25 21.75 11.5858 21.75 12V19C21.75 20.5188 20.5188 21.75 19 21.75H7.8H7.76788C6.95505 21.75 6.29944 21.75 5.76853 21.7066C5.2219 21.662 4.74175 21.5676 4.29754 21.3413C3.59193 20.9817 3.01825 20.4081 2.65873 19.7025C2.43239 19.2582 2.33803 18.7781 2.29336 18.2315C2.24999 17.7006 2.24999 17.045 2.25 16.2321V16.2321V16.2V3C2.25 2.73265 2.39232 2.48551 2.62356 2.35132ZM19 20.25C19.6904 20.25 20.25 19.6904 20.25 19V12.75H17.75V19C17.75 19.6904 18.3096 20.25 19 20.25ZM7 8.25C6.58579 8.25 6.25 8.58579 6.25 9C6.25 9.41421 6.58579 9.75 7 9.75H11C11.4142 9.75 11.75 9.41421 11.75 9C11.75 8.58579 11.4142 8.25 11 8.25H7ZM6.25 13C6.25 12.5858 6.58579 12.25 7 12.25H13C13.4142 12.25 13.75 12.5858 13.75 13C13.75 13.4142 13.4142 13.75 13 13.75H7C6.58579 13.75 6.25 13.4142 6.25 13ZM7 16.25C6.58579 16.25 6.25 16.5858 6.25 17C6.25 17.4142 6.58579 17.75 7 17.75H13C13.4142 17.75 13.75 17.4142 13.75 17C13.75 16.5858 13.4142 16.25 13 16.25H7Z" fill="#fff"></path></svg><svg width="48" height="48" viewBox="0 0 48 48" class="squircle" xmlns="http://www.w3.org/2000/svg"><path d="M48 24C48 40 40 48 24 48C8 48 -1.15147e-06 40 -6.90884e-07 24C-2.30295e-07 8 8 0 24 0C40 0 48 8 48 24Z" fill="url(#paint_blog)"/><defs><linearGradient id="paint_blog" x1="24" y1="0" x2="24" y2="48" gradientUnits="userSpaceOnUse"><stop stop-color="#1FB4FF"/><stop offset="1" stop-color="#0083F5"/></linearGradient></defs></svg></div> <?php echo $wo['lang']['blog'];?>
							</a>
						<?php } ?>
						<?php  if ($wo['config']['forum'] == 1 && $wo['config']['forum_visibility'] == 0) { ?>
							<a href="<?php echo Wo_SeoLink('index.php?link1=forum');?>" data-ajax="?link1=forum">
								<div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.8 3.25H7.7679C6.95506 3.24999 6.29944 3.24999 5.76853 3.29336C5.2219 3.33803 4.74175 3.43239 4.29754 3.65873C3.59193 4.01825 3.01825 4.59193 2.65873 5.29754C2.43239 5.74175 2.33803 6.2219 2.29336 6.76853C2.24999 7.29944 2.24999 7.95506 2.25 8.7679V8.8V13.2V13.2321C2.24999 14.0449 2.24999 14.7006 2.29336 15.2315C2.33803 15.7781 2.43239 16.2582 2.65873 16.7025C3.01825 17.4081 3.59193 17.9817 4.29754 18.3413C4.74175 18.5676 5.2219 18.662 5.76853 18.7066C6.29944 18.75 6.95505 18.75 7.76788 18.75H7.8H15.4892C16.0727 18.75 16.294 18.7517 16.5063 18.7814C16.7054 18.8093 16.9015 18.8556 17.0921 18.9197C17.2954 18.9881 17.494 19.0855 18.0159 19.3465L20.6646 20.6708C20.8971 20.7871 21.1732 20.7746 21.3943 20.638C21.6154 20.5013 21.75 20.2599 21.75 20V8.8V8.76788C21.75 7.95505 21.75 7.29944 21.7066 6.76853C21.662 6.2219 21.5676 5.74175 21.3413 5.29754C20.9817 4.59193 20.4081 4.01825 19.7025 3.65873C19.2582 3.43239 18.7781 3.33803 18.2315 3.29336C17.7006 3.24999 17.0449 3.24999 16.2321 3.25H16.2H7.8ZM7 7.25C6.58579 7.25 6.25 7.58579 6.25 8C6.25 8.41421 6.58579 8.75 7 8.75H15C15.4142 8.75 15.75 8.41421 15.75 8C15.75 7.58579 15.4142 7.25 15 7.25H7ZM6.25 12C6.25 11.5858 6.58579 11.25 7 11.25H11C11.4142 11.25 11.75 11.5858 11.75 12C11.75 12.4142 11.4142 12.75 11 12.75H7C6.58579 12.75 6.25 12.4142 6.25 12Z" fill="currentColor"></path></svg><svg width="48" height="48" viewBox="0 0 48 48" class="squircle" xmlns="http://www.w3.org/2000/svg"><path d="M48 24C48 40 40 48 24 48C8 48 -1.15147e-06 40 -6.90884e-07 24C-2.30295e-07 8 8 0 24 0C40 0 48 8 48 24Z" fill="url(#paint_forum)"/><defs><radialGradient id="paint_forum" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(24) rotate(90) scale(48)"><stop stop-color="#E95CFF"/><stop offset="1" stop-color="#D300F5"/></radialGradient></defs></svg></div> <?php echo $wo['lang']['forum'];?>
							</a>
						<?php } ?>
						<?php  if ($wo['config']['events'] == 1 && $wo['config']['events_visibility'] == 0) { ?>
							<a href="<?php echo Wo_SeoLink('index.php?link1=events');?>" data-ajax="?link1=events">
								<div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.75 1C8.75 0.585786 8.41422 0.25 8 0.25C7.58579 0.25 7.25 0.585786 7.25 1V2.25912C6.53068 2.27754 5.97875 2.33259 5.49049 2.49624C4.07813 2.96962 2.96962 4.07812 2.49624 5.49049C2.24943 6.22688 2.24964 7.10812 2.24998 8.48999L2.25 8.64706V14.6L2.25 14.633C2.25 15.7251 2.24999 16.5906 2.30699 17.2883C2.36528 18.0017 2.48689 18.6053 2.76772 19.1565C3.22312 20.0502 3.94978 20.7769 4.84355 21.2323C5.39472 21.5131 5.99835 21.6347 6.71174 21.693C7.40936 21.75 8.27485 21.75 9.36698 21.75H9.4H14.6H14.633C15.7252 21.75 16.5907 21.75 17.2883 21.693C18.0017 21.6347 18.6053 21.5131 19.1565 21.2323C20.0502 20.7769 20.7769 20.0502 21.2323 19.1565C21.5131 18.6053 21.6347 18.0017 21.693 17.2883C21.75 16.5906 21.75 15.7252 21.75 14.633V14.6V9.4V9.36698C21.75 8.27485 21.75 7.40935 21.693 6.71173C21.6347 5.99834 21.5131 5.39472 21.2323 4.84354C20.7769 3.94978 20.0502 3.22312 19.1565 2.76772C18.6053 2.48688 18.0017 2.36527 17.2883 2.30699C17.119 2.29316 16.9399 2.28269 16.75 2.27475V1C16.75 0.585786 16.4142 0.25 16 0.25C15.5858 0.25 15.25 0.585786 15.25 1V2.25043C15.0528 2.25 14.8473 2.25 14.6331 2.25H14.633L14.6 2.25H8.75V1ZM6.25002 8C6.25002 7.58579 6.5858 7.25 7.00002 7.25H17C17.4142 7.25 17.75 7.58579 17.75 8C17.75 8.41421 17.4142 8.75 17 8.75H7.00002C6.5858 8.75 6.25002 8.41421 6.25002 8ZM8.00002 13C8.5523 13 9.00002 12.5523 9.00002 12C9.00002 11.4477 8.5523 11 8.00002 11C7.44773 11 7.00002 11.4477 7.00002 12C7.00002 12.5523 7.44773 13 8.00002 13ZM9.00002 16C9.00002 16.5523 8.5523 17 8.00002 17C7.44773 17 7.00002 16.5523 7.00002 16C7.00002 15.4477 7.44773 15 8.00002 15C8.5523 15 9.00002 15.4477 9.00002 16ZM12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17ZM17 16C17 16.5523 16.5523 17 16 17C15.4477 17 15 16.5523 15 16C15 15.4477 15.4477 15 16 15C16.5523 15 17 15.4477 17 16ZM12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13ZM17 12C17 12.5523 16.5523 13 16 13C15.4477 13 15 12.5523 15 12C15 11.4477 15.4477 11 16 11C16.5523 11 17 11.4477 17 12Z" fill="#fff"></path></svg><svg width="48" height="48" viewBox="0 0 48 48" class="squircle" xmlns="http://www.w3.org/2000/svg"><path d="M48 24C48 40 40 48 24 48C8 48 -1.15147e-06 40 -6.90884e-07 24C-2.30295e-07 8 8 0 24 0C40 0 48 8 48 24Z" fill="url(#paint_event)"/><defs><radialGradient id="paint_event" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(24) rotate(90) scale(48)"><stop stop-color="#FF7070"/><stop offset="1" stop-color="#FF4778"/></radialGradient></defs></svg></div> <?php echo $wo['lang']['events'];?>
							</a>
						<?php } ?>
						<?php  if ($wo['config']['classified'] == 1 && $wo['config']['product_visibility'] == 0) { ?>
							<a href="<?php echo Wo_SeoLink('index.php?link1=products');?>" data-ajax="?link1=products">
								<div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.27772 4.89734C4.81195 5.65109 4.69395 6.65061 4.45795 8.64965L3.84407 13.8497C3.55212 16.3226 3.40614 17.5591 3.79874 18.517C4.14351 19.3582 4.76453 20.0568 5.55948 20.4978C6.46472 21 7.70979 21 10.1999 21H13.7999C16.2901 21 17.5351 21 18.4404 20.4978C19.2353 20.0568 19.8563 19.3582 20.2011 18.517C20.5937 17.5591 20.4477 16.3226 20.1558 13.8497L19.5419 8.64966L19.5419 8.64964C19.3059 6.65061 19.1879 5.65109 18.7221 4.89734C18.3118 4.2333 17.7162 3.70383 17.0086 3.37418C16.2054 3 15.199 3 13.186 3H10.8138C8.80089 3 7.79443 3 6.99127 3.37418C6.2837 3.70383 5.68805 4.2333 5.27772 4.89734ZM9.75003 9C9.75003 10.2426 10.7574 11.25 12 11.25C13.2427 11.25 14.25 10.2426 14.25 9V7C14.25 6.58579 14.5858 6.25 15 6.25C15.4142 6.25 15.75 6.58579 15.75 7V9C15.75 11.0711 14.0711 12.75 12 12.75C9.92897 12.75 8.25003 11.0711 8.25003 9V7C8.25003 6.58579 8.58582 6.25 9.00003 6.25C9.41425 6.25 9.75003 6.58579 9.75003 7V9Z" fill="#fff"></path></svg><svg width="48" height="48" viewBox="0 0 48 48" class="squircle" xmlns="http://www.w3.org/2000/svg"><path d="M48 24C48 40 40 48 24 48C8 48 -1.15147e-06 40 -6.90884e-07 24C-2.30295e-07 8 8 0 24 0C40 0 48 8 48 24Z" fill="url(#paint_market)"/><defs><radialGradient id="paint_market" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(24) rotate(90) scale(48)"><stop stop-color="#00E0D1"/><stop offset="1" stop-color="#00B8AD"/></radialGradient></defs></svg></div> <?php echo $wo['lang']['market'];?>
							</a>
						<?php } ?>
					</div>
				</div>
			</div>
		<?php } ?>
	</div>
	<div class="tag_wel_bottom">
		<?php echo Wo_LoadPage('footer/welcome');?>
	</div>
</div>

<script>
(function($) {
	$.fn.visible = function(partial) {
		var $t            = $(this),
          $w            = $(window),
          viewTop       = $w.scrollTop(),
          viewBottom    = viewTop + $w.height(),
          _top          = $t.offset().top,
          _bottom       = _top + $t.height(),
          compareTop    = partial === true ? _bottom : _top,
          compareBottom = partial === true ? _top : _bottom;
		return ((compareBottom <= viewBottom) && (compareTop >= viewTop));
	};
})(jQuery);

var win = $(window);
var allTrends = $(".tag_stup_trend");

allTrends.each(function(i, el) {
	var el = $(el);
	if (el.visible(true)) {
		el.addClass("already-visible"); 
	} 
});

win.scroll(function(event) {
	allTrends.each(function(i, el) {
		var el = $(el);
		if (el.visible(true)) {
			el.addClass("come-in"); 
		} 
	});
});

var working = false;
var $this = $('#login');
var $state = $this.find('.errors');
var $login_anim = $('.tag_auth_animation');

<?php if($wo['config']['googleLogin'] != 0): ?>
function signOut() {
	var auth2 = gapi.auth2.getAuthInstance();
	auth2.signOut().then(function () {
	  console.log('User signed out.');
	});
}

function onSignIn(googleUser) {
    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    $.post(Wo_Ajax_Requests_File() + '?f=google_login', {id_token: id_token}, function(data, textStatus, xhr) {
    	if (data.status == 200) {
    		signOut();
    		$login_anim.removeClass('d-none');
			$this.find('.disable_btn').attr("disabled", true);
	        setTimeout(function () {
	        	window.location.href = data.location;
	        }, 1000);
    	}
    	else{
			$this.find('.disable_btn').attr("disabled", false);
	        $state.html(data.message);
    	}
    });
}
<?php endif; ?>

$(function() {
  $('#login').ajaxForm({
    url: Wo_Ajax_Requests_File() + '?f=login',
    beforeSend: function() {
		working = true;
		$this.find('.disable_btn').attr("disabled", true);
    },
    success: function(data) {
      if (data.status == 200 || data.status == 600) {
      	$login_anim.removeClass('d-none');
        setTimeout(function () {
        	window.location.href = data.location;
        }, 1000);
      } else {
        var errors = data.errors.join("<br>");
        $state.html(errors);
      } 
      working = false;
	  $this.find('.disable_btn').attr("disabled", false);
    }
  });
});
</script>