<?php 
$wondertage_settings = array();
if (mysqli_query($wo['sqlConnect'], "DESCRIBE `wondertage_settings`" )) {
	$settings = $db->get('wondertage_settings');
	foreach ($settings as $key => $value) {
		$wondertage_settings[$value->name] = $value->value;
	}
}
?>
<?php if (!empty($wondertage_settings) && $wondertage_settings['tag_hide_menu'] == 1) { ?>
	<?php if ($wo['loggedin'] == false) { ?><style>.tag_sidebar_section_prnt {display:none;}</style><?php } ?>
<?php } ?>
<div class="tag_sidebar">
	<div class="sidebar_innr tag_scroll tag_sidebar_mobi">
		<?php if ($wo['loggedin'] == true) { ?>
			<div class="tag_sidebar_section_prnt">
				<div class="valign tag_sidebar_head" data-toggle="collapse" data-target="#collapseME" aria-expanded="true" aria-controls="collapseME"><?php echo $wo['lang']['me'];?> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z"></path></svg></div>
				<div class="collapse show" id="collapseME">
					<div class="tag_sidebar_section">
						<a href="<?php echo $wo['config']['site_url']; ?>" data-ajax="?index.php?link1=home">
							<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-277.000000, -77.000000)"> <g transform="translate(275.000000, 75.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M3.5,2 L21.5,2 C22.3284271,2 23,2.67157288 23,3.5 L23,4.5 C23,5.32842712 22.3284271,6 21.5,6 L3.5,6 C2.67157288,6 2,5.32842712 2,4.5 L2,3.5 C2,2.67157288 2.67157288,2 3.5,2 Z M3.5,19 L21.5,19 C22.3284271,19 23,19.6715729 23,20.5 L23,21.5 C23,22.3284271 22.3284271,23 21.5,23 L3.5,23 C2.67157288,23 2,22.3284271 2,21.5 L2,20.5 C2,19.6715729 2.67157288,19 3.5,19 Z" fill="#FFB74D" fill-rule="nonzero"></path> <path d="M21,7 L21,18 L4,18 L4,7 L21,7 Z M8.5,13 L16.5,13 C16.7761424,13 17,12.7761424 17,12.5 C17,12.2238576 16.7761424,12 16.5,12 L8.5,12 C8.22385763,12 8,12.2238576 8,12.5 C8,12.7761424 8.22385763,13 8.5,13 Z M8.5,16 L14.5,16 C14.7761424,16 15,15.7761424 15,15.5 C15,15.2238576 14.7761424,15 14.5,15 L8.5,15 C8.22385763,15 8,15.2238576 8,15.5 C8,15.7761424 8.22385763,16 8.5,16 Z M8.5,10 L11.5,10 C11.7761424,10 12,9.77614237 12,9.5 C12,9.22385763 11.7761424,9 11.5,9 L8.5,9 C8.22385763,9 8,9.22385763 8,9.5 C8,9.77614237 8.22385763,10 8.5,10 Z" fill="#FF9800"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['news_feed'];?>
						</a>
						<?php if ($wo['config']['website_mode'] != 'askfm') { ?>
							<a href="<?php echo Wo_SeoLink('index.php?link1=albums'); ?>" data-ajax="?link1=albums">
								<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 511.333 511.333" height="512" viewBox="0 0 511.333 511.333" width="512"><path d="m430.94 149.333h-350.547c-44.066 0-78.2 38.844-72.359 82.648l28.801 216c4.814 36.117 35.923 63.352 72.358 63.352h292.947c36.436 0 67.544-27.235 72.358-63.352l28.801-216c5.847-43.855-28.337-82.648-72.359-82.648z" fill="#4CAF50"/><path d="m255.666 352c-76.277 0-138.333 62.056-138.333 138.333v21h276.666v-21c0-76.277-62.055-138.333-138.333-138.333z" fill="#A5D6A7"/><path d="m84.999 116.667h341.334c11.598 0 21-9.402 21-21s-9.402-21-21-21h-341.334c-11.598 0-21 9.402-21 21s9.403 21 21 21z" fill="#4CAF50"/><path d="m116.999 42h277.334c11.598 0 21-9.402 21-21s-9.402-21-21-21h-277.334c-11.598 0-21 9.402-21 21s9.403 21 21 21z" fill="#4CAF50"/><path d="m255.666 245.333c-40.987 0-74.333 33.346-74.333 74.333s33.346 74.334 74.333 74.334 74.333-33.346 74.333-74.333-33.345-74.334-74.333-74.334z" fill="#A5D6A7"/></svg> <?php echo $wo['lang']['albums'];?>
							</a>
						<?php } ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=saved-posts');?>" data-ajax="?link1=saved-posts">
							<svg viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="256" x2="256" y1="512" y2="0"><stop offset="0" stop-color="#fd3a84"/><stop offset="1" stop-color="#ffa68d"/></linearGradient><linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="256" x2="256" y1="313.812" y2="121"><stop offset="0" stop-color="#ffc2cc"/><stop offset="1" stop-color="#fff2f4"/></linearGradient><g><path d="m398.283 509.862-142.283-85.369-142.283 85.37c-4.634 2.781-10.406 2.853-15.108.191-4.702-2.663-7.609-7.65-7.609-13.054v-482c0-8.284 6.716-15 15-15h300c8.284 0 15 6.716 15 15v482c0 5.404-2.907 10.391-7.609 13.053-4.695 2.658-10.466 2.595-15.108-.191z" fill="url(#SVGID_1_)"/><path d="m301.921 312.088-45.921-24.141-45.921 24.142c-5.053 2.657-11.177 2.214-15.797-1.142-4.619-3.356-6.933-9.043-5.967-14.671l8.771-51.133-37.151-36.213c-4.088-3.985-5.56-9.946-3.795-15.376 1.764-5.43 6.458-9.388 12.109-10.209l51.341-7.46 22.96-46.523c2.527-5.12 7.742-8.361 13.451-8.361s10.924 3.242 13.451 8.361l22.96 46.523 51.341 7.46c5.65.821 10.345 4.779 12.109 10.209 1.765 5.43.293 11.391-3.795 15.376l-37.151 36.213 8.771 51.133c.965 5.627-1.348 11.315-5.967 14.671-4.596 3.337-10.719 3.813-15.799 1.141z" fill="url(#SVGID_2_)"/></g></svg> <?php echo $wo['lang']['saved_posts'];?>
						</a>
					</div>
				</div>
			</div>
		<?php } ?>
		<div class="tag_sidebar_section_prnt">
			<div class="valign tag_sidebar_head" data-toggle="collapse" data-target="#collapseCommunity" aria-expanded="true" aria-controls="collapseCommunity"><?php echo $wo['lang']['community'];?> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z"></path></svg></div>
			<div class="collapse show" id="collapseCommunity">
				<div class="tag_sidebar_section">
					<?php if ($wo['config']['events'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=events'); ?>" data-ajax="?link1=events">
							<svg width="21px" height="20px" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-327.000000, -77.000000)"> <g transform="translate(325.000000, 75.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M9,3 L16,3 L16,4.5 C16,5.32842712 16.6715729,6 17.5,6 C18.3284271,6 19,5.32842712 19,4.5 L19,3 L22,3 C22.5522847,3 23,3.44771525 23,4 L23,7 L2,7 L2,4 C2,3.44771525 2.44771525,3 3,3 L6,3 L6,4.5 C6,5.32842712 6.67157288,6 7.5,6 C8.32842712,6 9,5.32842712 9,4.5 L9,3 Z" fill="#F48FB1"></path> <path d="M23,8 L23,18.5 C23,20.4329966 21.4329966,22 19.5,22 L5.5,22 C3.56700338,22 2,20.4329966 2,18.5 L2,8 L23,8 Z M9.98954478,13.5007567 L7.5,13.5007567 C7.22385763,13.5007567 7,13.7246143 7,14.0007567 L7,16.5 C7,16.7761424 7.22385763,17 7.5,17 L10.5,17 C10.7761424,17 11,16.7761424 11,16.5 C11,16.2238576 10.7761424,16 10.5,16 L8,16 L8,14.5007567 L10.4895448,14.5007567 C10.7656872,14.5007567 10.9895448,14.2768991 10.9895448,14.0007567 L10.9895448,11.5 C10.9895448,11.2238576 10.7656872,11 10.4895448,11 L7.53517793,11 C7.25903556,11 7.03517793,11.2238576 7.03517793,11.5 C7.03517793,11.7761424 7.25903556,12 7.53517793,12 L9.98954478,12 L9.98954478,13.5007567 Z M16.9895448,13.5007567 L14.5,13.5007567 C14.2238576,13.5007567 14,13.7246143 14,14.0007567 L14,16.5 C14,16.7761424 14.2238576,17 14.5,17 L17.5,17 C17.7761424,17 18,16.7761424 18,16.5 C18,16.2238576 17.7761424,16 17.5,16 L15,16 L15,14.5007567 L17.4895448,14.5007567 C17.7656872,14.5007567 17.9895448,14.2768991 17.9895448,14.0007567 L17.9895448,11.5 C17.9895448,11.2238576 17.7656872,11 17.4895448,11 L14.5351779,11 C14.2590356,11 14.0351779,11.2238576 14.0351779,11.5 C14.0351779,11.7761424 14.2590356,12 14.5351779,12 L16.9895448,12 L16.9895448,13.5007567 Z M17,2.5 C17,2.22385763 17.2238576,2 17.5,2 C17.7761424,2 18,2.22385763 18,2.5 L18,4.5 C18,4.77614237 17.7761424,5 17.5,5 C17.2238576,5 17,4.77614237 17,4.5 L17,2.5 Z M7,2.5 C7,2.22385763 7.22385763,2 7.5,2 C7.77614237,2 8,2.22385763 8,2.5 L8,4.5 C8,4.77614237 7.77614237,5 7.5,5 C7.22385763,5 7,4.77614237 7,4.5 L7,2.5 Z" fill="#E91E63"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['events'] ?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['blogs'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=blogs'); ?>" data-ajax="?link1=blogs">
							<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-227.000000, -277.000000)"><g transform="translate(225.000000, 275.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M6,21.4700884 L6,4.5 C6,3.11928813 7.11928813,2 8.5,2 L20.5,2 C21.8807119,2 23,3.11928813 23,4.5 L23,19.5 C23,21.4329966 21.4329966,23 19.5,23 L6,23 L6,21.4700884 Z M10.5,6 C10.2238576,6 10,6.22385763 10,6.5 L10,10.5 C10,10.7761424 10.2238576,11 10.5,11 L18.5,11 C18.7761424,11 19,10.7761424 19,10.5 L19,6.5 C19,6.22385763 18.7761424,6 18.5,6 L10.5,6 Z M11,7 L18,7 L18,10 L11,10 L11,7 Z M10.5,19 L18.5,19 C18.7761424,19 19,18.7761424 19,18.5 C19,18.2238576 18.7761424,18 18.5,18 L10.5,18 C10.2238576,18 10,18.2238576 10,18.5 C10,18.7761424 10.2238576,19 10.5,19 Z M10.5,15 L18.5,15 C18.7761424,15 19,14.7761424 19,14.5 C19,14.2238576 18.7761424,14 18.5,14 L10.5,14 C10.2238576,14 10,14.2238576 10,14.5 C10,14.7761424 10.2238576,15 10.5,15 Z" fill="#2196F3" fill-rule="nonzero"></path> <path d="M5,12 L5,22.9499909 C4.83844503,22.9827849 4.67123292,23 4.5,23 C3.11928813,23 2,21.8807119 2,20.5 L2,14.5 C2,13.1192881 3.11928813,12 4.5,12 L5,12 Z" fill="#90CAF9" fill-rule="nonzero"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['blog'] ?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['classified'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=products'); ?>" data-ajax="?link1=products">
							<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-377.000000, -27.000000)"> <g transform="translate(375.000000, 25.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M5,23 L4.5,23 C3.67157288,23 3,22.3284271 3,21.5 L3,10.3464396 C3.56038363,10.7573428 4.251854,11 5,11 L5.5,11 C6.23031385,11 6.9239184,10.7742698 7.5,10.3727696 C8.0760816,10.7742698 8.76968615,11 9.5,11 L10.5,11 C11.2303138,11 11.9239184,10.7742698 12.5,10.3727696 C13.0760816,10.7742698 13.7696862,11 14.5,11 L15.5,11 C16.2303138,11 16.9239184,10.7742698 17.5,10.3727696 C18.0760816,10.7742698 18.7696862,11 19.5,11 L20,11 C20.3145925,11 20.6276498,10.9561548 20.930138,10.8697296 C21.3263625,10.7565226 21.6858298,10.577254 22,10.3472956 L22,21.5 C22,22.3284271 21.3284271,23 20.5,23 L12,23 L12,14 C12,13.4477153 11.5522847,13 11,13 L6,13 C5.44771525,13 5,13.4477153 5,14 L5,23 Z M15,13 C14.4477153,13 14,13.4477153 14,14 L14,18 C14,18.5522847 14.4477153,19 15,19 L19,19 C19.5522847,19 20,18.5522847 20,18 L20,14 C20,13.4477153 19.5522847,13 19,13 L15,13 Z M15,14 L19,14 L19,18 L15,18 L15,14 Z" fill="#00BCD4" fill-rule="nonzero"></path> <path d="M6,14 L11,14 L11,23 L6,23 L6,14 Z M5.5,10 L5,10 C3.68238471,10 2.61424647,8.93186176 2.61424647,7.61424647 C2.61424647,7.39257053 2.64514178,7.17197629 2.70604085,6.95882957 L3.81201549,3.08791831 C3.99600187,2.44396597 4.58458087,2 5.25430141,2 L19.7456986,2 C20.4154191,2 21.0039981,2.44396597 21.1879845,3.08791831 L22.2939592,6.95882957 C22.6559359,8.22574822 21.9223356,9.54622886 20.6554169,9.90820562 C20.4422702,9.96910468 20.2216759,10 20,10 L19.5,10 C18.6822005,10 17.9561144,9.60732845 17.5,9.00024373 C17.0438856,9.60732845 16.3177995,10 15.5,10 L14.5,10 C13.6822005,10 12.9561144,9.60732845 12.5,9.00024373 C12.0438856,9.60732845 11.3177995,10 10.5,10 L9.5,10 C8.68220052,10 7.9561144,9.60732845 7.5,9.00024373 C7.0438856,9.60732845 6.31779948,10 5.5,10 Z" fill="#80DEEA"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['market'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['forum'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=forum'); ?>" data-ajax="?link1=forum">
							<svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-478.000000, -128.000000)"><g transform="translate(475.000000, 125.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M8.00702392,15.8275446 C7.52179688,15.7134586 7.0524755,15.5438386 6.60675127,15.3218857 L3.60881581,15.9880935 C3.25156656,16.0674823 2.93286833,15.748784 3.01225705,15.3915348 L3.67846493,12.3935993 C3.23490465,11.5028451 3.00035059,10.5178492 3.00035059,9.5 C3.00035059,5.91014913 5.91049971,3 9.50035059,3 C12.5764502,3 15.1534742,5.13679675 15.8280792,8.00704691 C15.7193039,8.00236501 15.6099281,8 15.5,8 C11.3578644,8 8,11.3578644 8,15.5 C8,15.6097481 8.00235726,15.7189455 8.00702392,15.8275446 Z" fill="#eca1ff" fill-rule="nonzero"></path> <path d="M21.9880935,21.3915348 L21.3218857,18.3935993 C21.7654459,17.5028451 22,16.5178492 22,15.5 C22,11.9101491 19.0898509,9 15.5,9 C11.9101491,9 9,11.9101491 9,15.5 C9,19.0898509 11.9101491,22 15.5,22 C16.5178492,22 17.5028451,21.7654459 18.3935993,21.3218857 L21.3915348,21.9880935 C21.748784,22.0674823 22.0674823,21.748784 21.9880935,21.3915348 Z" fill="#d226ff"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['forum'];?>
						</a>
					<?php } ?>
					<?php if (Wo_CanBlog() == true && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=my-blogs'); ?>" data-ajax="?link1=my-blogs">
							<svg width="19px" height="21px" viewBox="0 0 19 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-28.000000, -277.000000)"> <g transform="translate(25.000000, 275.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M4.5,2 L16,2 L16,8.5 C16,8.77614237 16.2238576,9 16.5,9 L22,9 L22,19.5 C22,21.4329966 20.4329966,23 18.5,23 L6.5,23 C4.56700338,23 3,21.4329966 3,19.5 L3,3.5 C3,2.67157288 3.67157288,2 4.5,2 Z M8.5,15 L16.5,15 C16.7761424,15 17,14.7761424 17,14.5 C17,14.2238576 16.7761424,14 16.5,14 L8.5,14 C8.22385763,14 8,14.2238576 8,14.5 C8,14.7761424 8.22385763,15 8.5,15 Z M8.5,18 L14.5,18 C14.7761424,18 15,17.7761424 15,17.5 C15,17.2238576 14.7761424,17 14.5,17 L8.5,17 C8.22385763,17 8,17.2238576 8,17.5 C8,17.7761424 8.22385763,18 8.5,18 Z M8.5,12 L11.5,12 C11.7761424,12 12,11.7761424 12,11.5 C12,11.2238576 11.7761424,11 11.5,11 L8.5,11 C8.22385763,11 8,11.2238576 8,11.5 C8,11.7761424 8.22385763,12 8.5,12 Z" fill="#2196F3" fill-rule="nonzero"></path> <path d="M17,2 C17.0698531,2.05933226 17.1349827,2.12507371 17.1944601,2.19678722 L21.9179586,7.89203909 C21.9469168,7.92695481 21.9742776,7.96297974 22,8 L17.5285477,8 C17.2366389,8 17,7.76223169 17,7.46892961 L17,2 Z" fill="#90CAF9"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['my_articles'] ?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['classified'] == 1 && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=my-products'); ?>" data-ajax="?link1=my-products">
							<svg width="19px" height="22px" viewBox="0 0 19 22" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-78.000000, -76.000000)"> <g transform="translate(75.000000, 74.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M7.34577199,6.5 L7.64998497,5.00133476 C8.00367436,3.25893057 9.53980213,2 11.3249925,2 L13.3249925,2 C15.1101828,2 16.6463106,3.25893057 17,5.00133476 L17.304213,6.5 L7.34577199,6.5 Z M13.3249925,3.5 L11.3249925,3.5 C10.3563511,3.5 9.51432535,4.11683531 9.2028208,5 L15.4471642,5 C15.1356596,4.11683531 14.2936339,3.5 13.3249925,3.5 Z" fill="#80DEEA"></path> <path d="M16.7953428,5.01790172 C18.5138467,5.13650536 19.9072103,6.4992747 20.041195,8.24107573 L20.823043,18.4050998 L21.7449163,21.0088884 C22.0214039,21.7898148 21.6124754,22.6470183 20.831549,22.9235059 C20.670777,22.9804273 20.501475,23.0095135 20.3309239,23.0095135 L4.5,23.0095135 C3.67157288,23.0095135 3,22.3379406 3,21.5095135 C3,21.368014 3.02002161,21.2272263 3.05946948,21.0913367 L3.83502965,18.4196959 L4.61800044,8.24107573 C4.75198513,6.4992747 6.14534874,5.13650536 7.86385267,5.01790172 C10.2792969,5.01790172 15.4047241,5.01790172 16.7953428,5.01790172 Z M8.82959772,9.50951347 C8.82959772,9.2333711 8.6057401,9.00951347 8.32959772,9.00951347 C8.05345535,9.00951347 7.82959772,9.2333711 7.82959772,9.50951347 L7.82959772,11.5095135 C7.82959772,13.4425101 9.3966011,15.0095135 11.3295977,15.0095135 L13.3295977,15.0095135 C15.2625943,15.0095135 16.8295977,13.4425101 16.8295977,11.5095135 L16.8295977,9.50951347 C16.8295977,9.2333711 16.6057401,9.00951347 16.3295977,9.00951347 C16.0534553,9.00951347 15.8295977,9.2333711 15.8295977,9.50951347 L15.8295977,11.5095135 C15.8295977,12.8902253 14.7103096,14.0095135 13.3295977,14.0095135 L11.3295977,14.0095135 C9.94888585,14.0095135 8.82959772,12.8902253 8.82959772,11.5095135 L8.82959772,9.50951347 Z" fill="#00BCD4"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['my_products'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['groups'] == 1 && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=groups'); ?>" data-ajax="?link1=groups">
							<svg width="21px" height="20px" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-277.000000, -128.000000)"> <g transform="translate(275.000000, 125.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M12.5,8 C11.1192881,8 10,6.88071187 10,5.5 C10,4.11928813 11.1192881,3 12.5,3 C13.8807119,3 15,4.11928813 15,5.5 C15,6.88071187 13.8807119,8 12.5,8 Z M12,8 L13,8 C14.6568542,8 16,9.34314575 16,11 L16,12.5 C16,13.3284271 15.3284271,14 14.5,14 L10.5,14 C9.67157288,14 9,13.3284271 9,12.5 L9,11 C9,9.34314575 10.3431458,8 12,8 Z" fill="#9FA8DA" fill-rule="nonzero"></path> <path d="M19.5,17 C18.1192881,17 17,15.8807119 17,14.5 C17,13.1192881 18.1192881,12 19.5,12 C20.8807119,12 22,13.1192881 22,14.5 C22,15.8807119 20.8807119,17 19.5,17 Z M19,17 L20,17 C21.6568542,17 23,18.3431458 23,20 L23,21.5 C23,22.3284271 22.3284271,23 21.5,23 L17.5,23 C16.6715729,23 16,22.3284271 16,21.5 L16,20 C16,18.3431458 17.3431458,17 19,17 Z" fill="#3F51B5" fill-rule="nonzero"></path> <path d="M5.5,17 C4.11928813,17 3,15.8807119 3,14.5 C3,13.1192881 4.11928813,12 5.5,12 C6.88071187,12 8,13.1192881 8,14.5 C8,15.8807119 6.88071187,17 5.5,17 Z M5,17 L6,17 C7.65685425,17 9,18.3431458 9,20 L9,21.5 C9,22.3284271 8.32842712,23 7.5,23 L3.5,23 C2.67157288,23 2,22.3284271 2,21.5 L2,20 C2,18.3431458 3.34314575,17 5,17 Z" fill="#3F51B5" fill-rule="nonzero"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['my_groups'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['pages'] == 1 && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=pages'); ?>" data-ajax="?link1=pages">
							<svg width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-380.000000, -29.000000)"><g transform="translate(375.000000, 25.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M17.0585462,7 L20.7004961,7 C21.4194097,7 22,7.58322534 22,8.3 C22,8.5462211 21.9301019,8.78746262 21.7958124,8.99952885 L20.1828456,11.4952954 L21.6944958,13.9911299 C22.0772241,14.59564 21.8998007,15.3966759 21.2961167,15.7823583 C21.0872895,15.9157741 20.8446092,15.9867288 20.5966656,15.9867288 L10.5343007,15.9867288 C10.2564361,15.9867288 10.0311824,15.7628712 10.0311824,15.4867288 L10.0311824,13.9999906 C13.3890578,13.9999787 14.5727167,13.9999554 14.579648,13.9999008 C15.9705025,13.9867576 17.0860103,12.8568766 17.072799,11.4762271 L17.0441834,8.48573628 C17.0499688,7.88786281 17.054707,7.39768195 17.0585462,7 Z M5,5 C5,4.44771525 5.44771525,4 6,4 L14.5573216,4 C15.3909152,4 16.0666763,4.67157288 16.0666763,5.5 C16.0666687,5.50475464 16.0571074,6.50316979 16.0379924,8.49524543 L16.0666081,11.4857363 C16.0745348,12.314126 15.4052301,12.9920545 14.5716742,12.9999322 C14.5668901,12.9999699 11.5440381,12.9999925 5.50311824,13 C5.22525371,13 5,12.7761424 5,12.5 L5,5 Z" fill="#FF9800" fill-rule="nonzero"></path> <path d="M6.5,21.25 C6.5,21.6642136 6.16421356,22 5.75,22 C5.33578644,22 5,21.6642136 5,21.25 L5,4.75 C5,4.33578644 5.33578644,4 5.75,4 C6.16421356,4 6.5,4.33578644 6.5,4.75 L6.5,21.25 Z" fill="#FFCC80" fill-rule="nonzero"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['my_pages'];?>
						</a>
					<?php } ?>
				</div>
			</div>
		</div>
		<div class="tag_sidebar_section_prnt">
			<div class="valign tag_sidebar_head" data-toggle="collapse" data-target="#collapseExplore" aria-expanded="false" aria-controls="collapseExplore"><?php echo $wo['lang']['explore'];?> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></div>
			<div class="collapse <?php if ($wo['loggedin'] == true) { ?><?php } else { ?>show<?php } ?>" id="collapseExplore">
				<div class="tag_sidebar_section">
					<a href="<?php echo Wo_SeoLink('index.php?link1=search?query=');?>">
						<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-177.000000, -277.000000)"> <g transform="translate(175.000000, 275.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M5.5,2 L19.5,2 C21.4329966,2 23,3.56700338 23,5.5 L23,19.5 C23,21.4329966 21.4329966,23 19.5,23 L5.5,23 C3.56700338,23 2,21.4329966 2,19.5 L2,5.5 C2,3.56700338 3.56700338,2 5.5,2 Z M8.9478587,14.2763932 C8.76359657,13.9078689 8.23769364,13.9078689 8.05343151,14.2763932 L6.05343151,18.2763932 C5.88720624,18.6088437 6.1289541,19 6.50064511,19 L10.5006451,19 C10.8723361,19 11.114084,18.6088437 10.9478587,18.2763932 L8.9478587,14.2763932 Z M16.8035595,14.1026728 C16.624359,13.9657757 16.3756981,13.9657757 16.1964975,14.1026728 L14.1964975,15.6305368 C14.0299835,15.7577422 13.9604515,15.9752831 14.0223173,16.1754849 L14.7862493,18.6476209 C14.8509896,18.857125 15.0446816,19 15.2639606,19 L17.7360965,19 C17.9553755,19 18.1490675,18.857125 18.2138078,18.6476209 L18.9777398,16.1754849 C19.0396056,15.9752831 18.9700736,15.7577422 18.8035595,15.6305368 L16.8035595,14.1026728 Z M6.5,6 C6.22385763,6 6,6.22385763 6,6.5 L6,10.5 C6,10.7761424 6.22385763,11 6.5,11 L10.5,11 C10.7761424,11 11,10.7761424 11,10.5 L11,6.5 C11,6.22385763 10.7761424,6 10.5,6 L6.5,6 Z M16.5,11 C17.8807119,11 19,9.88071187 19,8.5 C19,7.11928813 17.8807119,6 16.5,6 C15.1192881,6 14,7.11928813 14,8.5 C14,9.88071187 15.1192881,11 16.5,11 Z" fill="#6c63ff" fill-rule="nonzero"></path> <path d="M7.3096621,18 L8.50064511,15.618034 L9.69162811,18 L7.3096621,18 Z M15.0807114,16.2134661 L16.5000285,15.1292043 L17.9193457,16.2134661 L17.3672764,18 L15.6327807,18 L15.0807114,16.2134661 Z M7,7 L10,7 L10,10 L7,10 L7,7 Z M16.5,10 C15.6715729,10 15,9.32842712 15,8.5 C15,7.67157288 15.6715729,7 16.5,7 C17.3284271,7 18,7.67157288 18,8.5 C18,9.32842712 17.3284271,10 16.5,10 Z" fill="#c2beff"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['explore'];?>
					</a>
					<?php if ($wo['config']['popular_posts'] == 1) { ?>
						<a href="<?php echo $wo['config']['site_url']; ?>/most_liked" data-ajax="?link1=most_liked">
							<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 512.022 512.022" height="512" viewBox="0 0 512.022 512.022" width="512"><g><path d="m374.686 190.48-27.697-43.868-51.839-2.053c-12.398-.491-18.879-15.03-10.941-24.576l33.161-39.898-14.067-49.937c-3.363-11.941 8.46-22.601 19.992-18l48.192 19.209 43.146-28.81c10.321-6.889 24.107 1.062 23.298 13.451l-3.377 51.77 40.732 32.132c9.742 7.686 6.438 23.255-5.593 26.314l-50.28 12.786-17.972 48.667c-4.286 11.61-20.107 13.34-26.755 2.813z" fill="#FFC107"/></g><path d="m91.011 422.022c8.284 0 15 6.716 15 15v60c0 8.284-6.716 15-15 15h-76c-8.28 0-15-6.72-15-15v-60c0-8.28 6.72-15 15-15z" fill="#FFC107"/><path d="m226.011 362.022c8.284 0 15 6.716 15 15v120c0 8.284-6.716 15-15 15h-75c-8.284 0-15-6.716-15-15v-120c0-8.28 6.72-15 15-15z" fill="#FFC107"/><path d="m361.011 302.022c8.284 0 15 6.716 15 15v180c0 8.284-6.716 15-15 15h-75c-8.284 0-15-6.716-15-15v-180c0-8.28 6.72-15 15-15z" fill="#FFC107"/><path d="m512.011 497.022c0 8.284-6.716 15-15 15h-76c-8.284 0-15-6.716-15-15v-240c0-8.284 6.716-15 15-15h76c8.284 0 15 6.716 15 15z" fill="#FFC107"/><g><path d="m76.011 332.022c-8.284 0-15-6.716-15-15 0-24.813 20.187-45 45-45h60c8.271 0 15-6.729 15-15 0-24.813 20.187-45 45-45h60c8.271 0 15-6.729 15-15 0-8.284 6.716-15 15-15s15 6.716 15 15c0 24.813-20.187 45-45 45h-60c-8.271 0-15 6.729-15 15 0 24.813-20.187 45-45 45h-60c-8.271 0-15 6.729-15 15 0 8.285-6.716 15-15 15z" fill="#ffe082"/></g></svg> <?php echo $wo['lang']['popular_posts'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['website_mode'] == 'linkedin') { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=open_to_work_posts'); ?>" data-ajax="?link1=open_to_work_posts">
							<svg width="21px" height="22px" viewBox="0 0 21 22" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-178.000000, -127.000000)"> <g transform="translate(175.000000, 125.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M7.26636419,23.000455 L6.5,23.000455 C4.56700338,23.000455 3,21.4334516 3,19.500455 L3,2.50045497 C3,2.15218796 3.34714458,1.91060318 3.67371628,2.03160249 L7.56986591,3.47517942 L11.320636,2.03373389 C11.4343463,1.99003429 11.5600987,1.98935045 11.6742775,2.03181079 L15.5240484,3.46344767 L19.3237895,2.03253418 C19.6507702,1.90939918 20,2.15105746 20,2.50045497 L20,18.000455 L6.73971035,18.000455 L7.68301057,19.8314666 C7.89927368,20.2512484 8,20.6427681 8,21.0212558 C8,21.3916724 7.90359896,21.76849 7.69715316,22.1676113 L7.26636419,23.000455 Z M12,8.00045497 L12,7.50045497 C12,7.2243126 11.7761424,7.00045497 11.5,7.00045497 C11.2238576,7.00045497 11,7.2243126 11,7.50045497 L11,8.00045497 L10.5139452,8.00045497 C9.68551807,8.00045497 9.0139452,8.67202785 9.0139452,9.50045497 L9.0139452,10.0012117 C9.0139452,10.8296388 9.68551807,11.5012117 10.5139452,11.5012117 L12.5000049,11.5012117 C12.7761473,11.5012117 13.0000049,11.7250693 13.0000049,12.0012117 L13.0000049,12.500455 C13.0000049,12.7765973 12.7761473,13.000455 12.5000049,13.000455 L10.0122552,13.000455 C9.9916704,12.7502939 9.78597816,12.550123 9.52914442,12.542312 C9.25312966,12.5339177 9.02257057,12.750867 9.01417627,13.0268817 L9.00023597,13.4852558 C8.99166064,13.7672232 9.21790708,14.000455 9.5000049,14.000455 L11,14.000455 L11,14.500455 C11,14.7765973 11.2238576,15.000455 11.5,15.000455 C11.7761424,15.000455 12,14.7765973 12,14.500455 L12,14.000455 L12.5000049,14.000455 C13.328432,14.000455 14.0000049,13.3288821 14.0000049,12.500455 L14.0000049,12.0012117 C14.0000049,11.1727845 13.328432,10.5012117 12.5000049,10.5012117 L10.5139452,10.5012117 C10.2378028,10.5012117 10.0139452,10.277354 10.0139452,10.0012117 L10.0139452,9.50045497 C10.0139452,9.2243126 10.2378028,9.00045497 10.5139452,9.00045497 L13.0148598,9.00045497 C13.0691242,9.2179023 13.265752,9.37899501 13.5000049,9.37899501 C13.7761473,9.37899501 14.0000049,9.15513738 14.0000049,8.87899501 L14.0000049,8.50045497 C14.0000049,8.2243126 13.7761473,8.00045497 13.5000049,8.00045497 L12,8.00045497 Z" fill="#4caf50" fill-rule="nonzero"></path> <path d="M21.0687586,19 C22.4272354,19.0256769 23.5205793,20.1349289 23.5205793,21.499545 C23.5205793,22.8802569 22.4012912,23.999545 21.0205793,23.999545 L8.0098689,23.999545 C8.8270786,23.2012 9.26191151,22.3797406 9.26028965,21.517334 C9.25866727,20.6546533 8.82049181,19.8210378 8,19 L21.0687586,19 Z" fill="#8bc34a"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['open_to_work_posts'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['games'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=new-game'); ?>" data-ajax="?link1=new-game">
							<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-177.000000, -277.000000)"> <g transform="translate(175.000000, 275.000000)"> <rect x="0" y="0" width="25" height="25"></rect> <path d="M12,2.75 C12,2.33578644 12.3357864,2 12.75,2 C13.1642136,2 13.5,2.33578644 13.5,2.75 L13.5,7.75 C13.5,8.16421356 13.1642136,8.5 12.75,8.5 C12.3357864,8.5 12,8.16421356 12,7.75 L12,2.75 Z" fill="#b0bec5" fill-rule="nonzero"></path> <path d="M8,12 L8,10.5 C8,10.2238576 7.77614237,10 7.5,10 C7.22385763,10 7,10.2238576 7,10.5 L7,12 L5.5,12 C5.22385763,12 5,12.2238576 5,12.5 C5,12.7761424 5.22385763,13 5.5,13 L7,13 L7,14.5 C7,14.7761424 7.22385763,15 7.5,15 C7.77614237,15 8,14.7761424 8,14.5 L8,13 L9.5,13 C9.77614237,13 10,12.7761424 10,12.5 C10,12.2238576 9.77614237,12 9.5,12 L8,12 Z M7.90742466,18 L7.38004532,20.6368967 C7.10523656,22.0109405 5.89877796,23 4.49752271,23 C3.11681084,23 1.99752271,21.8807119 2.00000412,20.4502481 L2.99752271,10.5 C2.99752271,8.56700338 4.56452609,7 6.49752271,7 L18.4975227,7 C20.4305193,7 21.9975227,8.56700338 21.9950413,10.4502481 L22.9975227,20.5 C22.9975227,21.8807119 21.8782346,23 20.4975227,23 C19.0962675,23 17.8898089,22.0109405 17.6150001,20.6368967 L17.0876208,18 L7.90742466,18 Z M17,11 C17.5522847,11 18,10.5522847 18,10 C18,9.44771525 17.5522847,9 17,9 C16.4477153,9 16,9.44771525 16,10 C16,10.5522847 16.4477153,11 17,11 Z M17,15 C17.5522847,15 18,14.5522847 18,14 C18,13.4477153 17.5522847,13 17,13 C16.4477153,13 16,13.4477153 16,14 C16,14.5522847 16.4477153,15 17,15 Z M15,13 C15.5522847,13 16,12.5522847 16,12 C16,11.4477153 15.5522847,11 15,11 C14.4477153,11 14,11.4477153 14,12 C14,12.5522847 14.4477153,13 15,13 Z M19,13 C19.5522847,13 20,12.5522847 20,12 C20,11.4477153 19.5522847,11 19,11 C18.4477153,11 18,11.4477153 18,12 C18,12.5522847 18.4477153,13 19,13 Z" fill="#607D8B" fill-rule="nonzero"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['games'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['movies'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=movies'); ?>">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"> <path style="fill:#1B4145;" d="M503.607,512c-45.141,0-81.865-36.724-81.865-81.865v-52.85c0-4.637,3.758-8.393,8.393-8.393 c4.635,0,8.393,3.757,8.393,8.393v52.85c0,35.884,29.194,65.078,65.078,65.078c4.635,0,8.393,3.757,8.393,8.393 C512,508.243,508.242,512,503.607,512z"/> <circle style="fill:#8B7E7F;" cx="251.803" cy="251.803" r="222.449"/> <circle style="fill:#1B4145;" cx="251.803" cy="251.803" r="144.11"/> <path style="fill:#C2B8B9;" d="M251.803,0C112.736,0,0,112.736,0,251.803s112.736,251.803,251.803,251.803 S503.607,390.87,503.607,251.803S390.87,0,251.803,0z M53.035,187.22c11.173-34.388,48.108-53.207,82.495-42.034 c34.387,11.173,53.207,48.108,42.033,82.496s-48.108,53.207-82.495,42.034C60.681,258.542,41.862,221.608,53.035,187.22z M220.405,406.402c-21.253,29.253-62.195,35.737-91.447,14.484c-29.252-21.252-35.737-62.195-14.484-91.447 c21.253-29.253,62.195-35.737,91.447-14.484C235.173,336.208,241.658,377.15,220.405,406.402z M186.334,108.275 c0-36.158,29.311-65.469,65.469-65.469s65.469,29.311,65.469,65.469s-29.311,65.469-65.469,65.469S186.334,144.433,186.334,108.275z M374.649,420.885c-29.252,21.252-70.194,14.768-91.447-14.484c-21.253-29.252-14.768-70.194,14.484-91.447 c29.252-21.252,70.194-14.768,91.447,14.484C410.385,358.69,403.9,399.633,374.649,420.885z M408.537,269.716 c-34.387,11.172-71.322-7.646-82.495-42.034s7.646-71.322,42.033-82.496c34.387-11.172,71.322,7.646,82.495,42.034 C461.743,221.608,442.925,258.542,408.537,269.716z"/> <circle style="fill:#8B7E7F;" cx="251.803" cy="251.803" r="35.252"/></svg> <?php echo $wo['lang']['movies'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['job_system'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=jobs'); ?>" data-ajax="?link1=jobs">
							<svg width="21px" height="19px" viewBox="0 0 21 19" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-277.000000, -28.000000)"> <g transform="translate(275.000000, 25.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M16,7 L16,6.5 C16,5.67157288 15.3284271,5 14.5,5 L10.5,5 C9.67157288,5 9,5.67157288 9,6.5 L9,7 L16,7 Z M17.5,6.5 L17.5,8.5 L7.5,8.5 L7.5,6.5 C7.5,4.84314575 8.84314575,3.5 10.5,3.5 L14.5,3.5 C16.1568542,3.5 17.5,4.84314575 17.5,6.5 Z M11,16 L11,14 L14,14 L14,16 L11,16 Z" fill="#bcaaa4" fill-rule="nonzero"></path> <path d="M10,15 L10,16.1 C10,16.5970563 10.4029437,17 10.9,17 L14.1,17 C14.5970563,17 15,16.5970563 15,16.1 L15,15 L20.5,15 C21.4793441,15 22.3647415,14.5977664 23,13.9494914 L23,18.5 C23,20.4329966 21.4329966,22 19.5,22 L5.5,22 C3.56700338,22 2,20.4329966 2,18.5 L2,13.9494914 C2.63525852,14.5977664 3.52065591,15 4.5,15 L10,15 Z M15,14 C15,13.4477153 14.5522847,13 14,13 L11,13 C10.4477153,13 10,13.4477153 10,14 L4.5,14 C3.11928813,14 2,12.8807119 2,11.5 L2,8.5 C2,7.67157288 2.67157288,7 3.5,7 L21.5,7 C22.3284271,7 23,7.67157288 23,8.5 L23,11.5 C23,12.8807119 21.8807119,14 20.5,14 L15,14 Z" fill="#795548" fill-rule="nonzero"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['jobs'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['offer_system'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=offers'); ?>" data-ajax="?link1=offers">
							<svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-378.000000, -128.000000)"> <g transform="translate(375.000000, 125.000000)"> <polygon points="0 0 25 0 25 26 0 26"></polygon> <path d="M13.479955,3.00622924 L20.8651603,3.67761155 C21.1079515,3.69968347 21.3003165,3.89204853 21.3223885,4.13483966 L21.9937708,11.520045 C22.0344796,11.9678421 21.8741838,12.410587 21.5562377,12.7285331 L13.3201995,20.9645713 C11.9396279,22.3451429 9.70127914,22.3451429 8.32070755,20.9645713 L4.03542869,16.6792925 C2.6548571,15.2987209 2.6548571,13.0603721 4.03542869,11.6798005 L12.2714669,3.4437623 C12.589413,3.1258162 13.0321579,2.96552042 13.479955,3.00622924 Z M14.0344127,10.9655873 C15.0205352,11.9517099 16.6193558,11.9517099 17.6054784,10.9655873 C18.591601,9.97946475 18.591601,8.38064418 17.6054784,7.39452161 C16.6193558,6.40839904 15.0205352,6.40839904 14.0344127,7.39452161 C13.0482901,8.38064418 13.0482901,9.97946475 14.0344127,10.9655873 Z" fill="#8BC34A"></path> <path d="M14.7486258,10.2513742 C15.3402994,10.8430477 16.2995917,10.8430477 16.8912652,10.2513742 C17.4829388,9.65970064 17.4829388,8.70040829 16.8912652,8.10873475 C16.2995917,7.51706121 15.3402994,7.51706121 14.7486258,8.10873475 C14.1569523,8.70040829 14.1569523,9.65970064 14.7486258,10.2513742 Z" fill="#C5E1A5"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['offers'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['memories_system'] == 1 && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=memories'); ?>" data-ajax="?link1=memories">
							<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512"><path d="m256 22.986v-22.986l-76.899 55.869 76.899 55.868v-22.986c98.559 0 178.742 80.183 178.742 178.742 0 98.558-80.183 178.742-178.742 178.742s-178.742-80.183-178.742-178.742h-65.765c0 135.038 109.47 244.507 244.507 244.507s244.507-109.469 244.507-244.507c0-135.037-109.469-244.507-244.507-244.507z" fill="#03A9F4"/><path d="m351.957 267.493c0-52.911-43.046-95.956-95.956-95.956-52.911 0-95.956 43.046-95.956 95.956s43.046 95.956 95.956 95.956 95.956-43.046 95.956-95.956zm-110.957-39.77h30v40.837l21.796 17.458-18.754 23.415-33.042-26.465z" fill="#81D4FA"/></svg> <?php echo $wo['lang']['memories'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['find_friends'] == 1 && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=friends-nearby'); ?>">
							<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-77.000000, -227.000000)"> <g transform="translate(75.000000, 225.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M5,9.5 C5,5.35786438 8.35786438,2 12.5,2 C16.6421356,2 20,5.35786438 20,9.5 C20,11.5448569 19.1770544,13.4601794 17.7480563,14.8579389 L12.8535753,19.7530264 C12.6583167,19.9483092 12.3417173,19.948319 12.1464466,19.7530483 L7.24294372,14.8495197 C5.81785109,13.448558 5,11.5385455 5,9.5 Z M12.5,13 C14.4329966,13 16,11.4329966 16,9.5 C16,7.56700338 14.4329966,6 12.5,6 C10.5670034,6 9,7.56700338 9,9.5 C9,11.4329966 10.5670034,13 12.5,13 Z M12.5,12 C11.1192881,12 10,10.8807119 10,9.5 C10,8.11928813 11.1192881,7 12.5,7 C13.8807119,7 15,8.11928813 15,9.5 C15,10.8807119 13.8807119,12 12.5,12 Z" fill="#FF5722" fill-rule="nonzero"></path> <path d="M17.7269697,16.2933293 C20.9233268,16.8761375 23,17.9841128 23,19.4247627 C23,21.5566926 18.3108255,22.9975994 12.5,22.9975994 C6.68917451,22.9975994 2,21.5566926 2,19.4247627 C2,17.9844013 4.07752344,16.875933 7.27254243,16.2932919 L11.439338,20.4601532 C12.0251519,21.0459672 12.9749501,21.0459378 13.5607259,20.4600894 L17.7269697,16.2933293 Z" fill="#FFAB91" fill-rule="nonzero"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['find_friends'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['common_things'] == 1 && $wo['loggedin'] == true) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=common_things'); ?>" data-ajax="?link1=common_things">
							<svg width="19px" height="20px" viewBox="0 0 19 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-128.000000, -178.000000)"> <g transform="translate(125.000000, 175.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M6.5,7 L12.5,7 C14.4329966,7 16,8.56700338 16,10.5 L16,19.5 C16,21.4329966 14.4329966,23 12.5,23 L6.5,23 C4.56700338,23 3,21.4329966 3,19.5 L3,10.5 C3,8.56700338 4.56700338,7 6.5,7 Z" fill="#d655a6"></path> <path d="M9.03544443,6 C9.27805926,4.30385293 10.736764,3 12.5,3 L18.5,3 C20.4329966,3 22,4.56700338 22,6.5 L22,15.5 C22,17.4329966 20.4329966,19 18.5,19 L17,19 L17,10.5 C17,8.01471863 14.9852814,6 12.5,6 L9.03544443,6 Z" fill="#fda9dd"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['common_things'];?>
						</a>
					<?php } ?>
					<?php if ($wo['config']['funding_system'] == 1) { ?>
						<a href="<?php echo Wo_SeoLink('index.php?link1=funding'); ?>" data-ajax="?link1=funding">
							<svg width="21px" height="20px" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-77.000000, -178.000000)"> <g transform="translate(75.000000, 175.000000)"> <polygon points="0 0 25 0 25 25 0 25"></polygon> <path d="M13.2891189,14.4263782 C13.9111129,13.0751176 13.3378596,11.9617751 11.7543842,11.2722083 L9.13099225,10.1889974 C8.28108294,9.83809804 7.30725713,9.98270806 6.59579835,10.5654656 L4.18318734,12.541641 C3.96965112,12.716549 3.93823726,13.0315669 4.11302252,13.2452531 C4.22954603,13.3877106 4.19187185,15.3059595 4,19 L4,20 L6.91899347,20 L12.8721759,21.6915048 C13.6231733,21.9048892 14.4306806,21.7546894 15.0549122,21.2855165 C18.9774462,18.3371189 21.5983372,16.3462417 21.9952469,15.9771874 C22.9574499,15.0825125 23.3362715,14.0877739 22.6506664,13.1072061 C22.0964941,12.3146164 21.1619067,12.230063 20.0035568,12.7544849 L14.3697616,15.6197818 L12.7856096,15.1160193 C12.9898629,14.939882 13.1583023,14.7105728 13.2891189,14.4263782 Z" fill="#bf1d52" fill-rule="nonzero"></path> <path d="M3.75,11.25 L3.5,11.25 C3.08578644,11.25 2.75,10.9142136 2.75,10.5 C2.75,10.0857864 3.08578644,9.75 3.5,9.75 L4.5,9.75 C4.91421356,9.75 5.25,10.0857864 5.25,10.5 L5.25,21.5 C5.25,21.9142136 4.91421356,22.25 4.5,22.25 L3.5,22.25 C3.08578644,22.25 2.75,21.9142136 2.75,21.5 C2.75,21.0857864 3.08578644,20.75 3.5,20.75 L3.75,20.75 L3.75,11.25 Z M21.1672619,3.84333302 C22.2775794,4.96777704 22.2775794,6.790861 21.1672619,7.91530502 L18.5606602,10.5550705 C17.9748737,11.1483098 17.0251263,11.1483098 16.4393398,10.5550705 L13.8327381,7.91530502 C12.7224206,6.790861 12.7224206,4.96777704 13.8327381,3.84333302 C14.8316815,2.83168008 16.389031,2.73020288 17.5,3.53890142 C18.610969,2.73020288 20.1683185,2.83168008 21.1672619,3.84333302 Z" fill="#f29fba" fill-rule="nonzero"></path> </g> </g> </g> </svg> <?php echo $wo['lang']['funding'];?>
						</a>
					<?php } ?>
				</div>
			</div>
		</div>
		<?php if (Wo_IsMobile() == false) { ?>
			<div class="tag_footer_pc"><?php echo Wo_LoadPage('footer/sidebar-footer')?></div>
		<?php } ?>
	</div>
</div>